#dashboard-widget {
    border-radius: 15px;
    background-color: #2a1e63;
    transition: 0.2s ease-in-out;
}

#dashboard-widget:hover {
    background-color: #961f21;
    transition: 0.2s ease-in-out;
}

.dataTables_wrapper .dataTables_filter {
    float: left !important;
}

div#project-tracker-card {
    max-width: 100%;
}

@font-face {
    font-family: "boxicons";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/boxicons.eot");
    src: url("../fonts/boxicons.eot") format("embedded-opentype"), url("../fonts/boxicons.woff2") format("woff2"), url("../fonts/boxicons.woff") format("woff"), url("../fonts/boxicons.ttf") format("truetype"), url("../fonts/boxicons.svg?#boxicons") format("svg");
}

.bx {
    font-family: "boxicons" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bx-ul {
    margin-left: 2em;
    padding-left: 0;
    list-style: none;
}

.bx-ul>li {
    position: relative;
}

.bx-ul .bx {
    font-size: inherit;
    line-height: inherit;
    position: absolute;
    left: -2em;
    width: 2em;
    text-align: center;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes burst {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes burst {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@-webkit-keyframes flashing {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@keyframes flashing {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }
}

@keyframes fade-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }
}

@-webkit-keyframes fade-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
}

@keyframes fade-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
}

@-webkit-keyframes fade-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes fade-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

@-webkit-keyframes fade-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes fade-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
        transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
        transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bx-spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.bx-spin-hover:hover {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.bx-tada {
    -webkit-animation: tada 1.5s ease infinite;
    animation: tada 1.5s ease infinite;
}

.bx-tada-hover:hover {
    -webkit-animation: tada 1.5s ease infinite;
    animation: tada 1.5s ease infinite;
}

.bx-flashing {
    -webkit-animation: flashing 1.5s infinite linear;
    animation: flashing 1.5s infinite linear;
}

.bx-flashing-hover:hover {
    -webkit-animation: flashing 1.5s infinite linear;
    animation: flashing 1.5s infinite linear;
}

.bx-burst {
    -webkit-animation: burst 1.5s infinite linear;
    animation: burst 1.5s infinite linear;
}

.bx-burst-hover:hover {
    -webkit-animation: burst 1.5s infinite linear;
    animation: burst 1.5s infinite linear;
}

.bx-fade-up {
    -webkit-animation: fade-up 1.5s infinite linear;
    animation: fade-up 1.5s infinite linear;
}

.bx-fade-up-hover:hover {
    -webkit-animation: fade-up 1.5s infinite linear;
    animation: fade-up 1.5s infinite linear;
}

.bx-fade-down {
    -webkit-animation: fade-down 1.5s infinite linear;
    animation: fade-down 1.5s infinite linear;
}

.bx-fade-down-hover:hover {
    -webkit-animation: fade-down 1.5s infinite linear;
    animation: fade-down 1.5s infinite linear;
}

.bx-fade-left {
    -webkit-animation: fade-left 1.5s infinite linear;
    animation: fade-left 1.5s infinite linear;
}

.bx-fade-left-hover:hover {
    -webkit-animation: fade-left 1.5s infinite linear;
    animation: fade-left 1.5s infinite linear;
}

.bx-fade-right {
    -webkit-animation: fade-right 1.5s infinite linear;
    animation: fade-right 1.5s infinite linear;
}

.bx-fade-right-hover:hover {
    -webkit-animation: fade-right 1.5s infinite linear;
    animation: fade-right 1.5s infinite linear;
}

.bx-xs {
    font-size: 1rem !important;
}

.bx-sm {
    font-size: 1.55rem !important;
}

.bx-md {
    font-size: 2.25rem !important;
}

.bx-lg {
    font-size: 3rem !important;
}

.bx-fw {
    font-size: 1.2857142857em;
    line-height: 0.8em;
    width: 1.2857142857em;
    height: 0.8em;
    margin-top: -0.2em !important;
    vertical-align: middle;
}

.bx-pull-left {
    float: left;
    margin-right: 0.3em !important;
}

.bx-pull-right {
    float: right;
    margin-left: 0.3em !important;
}

.bx-rotate-90 {
    transform: rotate(90deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
}

.bx-rotate-180 {
    transform: rotate(180deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
}

.bx-rotate-270 {
    transform: rotate(270deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}

.bx-flip-horizontal {
    transform: scaleX(-1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
}

.bx-flip-vertical {
    transform: scaleY(-1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
}

.bx-border {
    padding: 0.25em;
    border: 0.07em solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
}

.bx-border-circle {
    padding: 0.25em;
    border: 0.07em solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.bxl-500px:before {
    content: "\e900";
}

.bxl-adobe:before {
    content: "\e901";
}

.bxl-airbnb:before {
    content: "\e902";
}

.bxl-algolia:before {
    content: "\e903";
}

.bxl-amazon:before {
    content: "\e904";
}

.bxl-android:before {
    content: "\e905";
}

.bxl-angular:before {
    content: "\e906";
}

.bxl-apple:before {
    content: "\e907";
}

.bxl-audible:before {
    content: "\e908";
}

.bxl-aws:before {
    content: "\e909";
}

.bxl-baidu:before {
    content: "\e90a";
}

.bxl-behance:before {
    content: "\e90b";
}

.bxl-bing:before {
    content: "\e90c";
}

.bxl-bitcoin:before {
    content: "\e90d";
}

.bxl-blender:before {
    content: "\e90e";
}

.bxl-blogger:before {
    content: "\e90f";
}

.bxl-bootstrap:before {
    content: "\e910";
}

.bxl-chrome:before {
    content: "\e911";
}

.bxl-codepen:before {
    content: "\e912";
}

.bxl-c-plus-plus:before {
    content: "\e913";
}

.bxl-creative-commons:before {
    content: "\e914";
}

.bxl-css3:before {
    content: "\e915";
}

.bxl-dailymotion:before {
    content: "\e916";
}

.bxl-deviantart:before {
    content: "\e917";
}

.bxl-dev-to:before {
    content: "\e918";
}

.bxl-digg:before {
    content: "\e919";
}

.bxl-digitalocean:before {
    content: "\e91a";
}

.bxl-discord:before {
    content: "\e91b";
}

.bxl-discord-alt:before {
    content: "\e91c";
}

.bxl-discourse:before {
    content: "\e91d";
}

.bxl-django:before {
    content: "\e91e";
}

.bxl-docker:before {
    content: "\e91f";
}

.bxl-dribbble:before {
    content: "\e920";
}

.bxl-dropbox:before {
    content: "\e921";
}

.bxl-drupal:before {
    content: "\e922";
}

.bxl-ebay:before {
    content: "\e923";
}

.bxl-edge:before {
    content: "\e924";
}

.bxl-etsy:before {
    content: "\e925";
}

.bxl-facebook:before {
    content: "\e926";
}

.bxl-facebook-circle:before {
    content: "\e927";
}

.bxl-facebook-square:before {
    content: "\e928";
}

.bxl-figma:before {
    content: "\e929";
}

.bxl-firebase:before {
    content: "\e92a";
}

.bxl-firefox:before {
    content: "\e92b";
}

.bxl-flickr:before {
    content: "\e92c";
}

.bxl-flickr-square:before {
    content: "\e92d";
}

.bxl-flutter:before {
    content: "\e92e";
}

.bxl-foursquare:before {
    content: "\e92f";
}

.bxl-git:before {
    content: "\e930";
}

.bxl-github:before {
    content: "\e931";
}

.bxl-gitlab:before {
    content: "\e932";
}

.bxl-google:before {
    content: "\e933";
}

.bxl-google-cloud:before {
    content: "\e934";
}

.bxl-google-plus:before {
    content: "\e935";
}

.bxl-google-plus-circle:before {
    content: "\e936";
}

.bxl-html5:before {
    content: "\e937";
}

.bxl-imdb:before {
    content: "\e938";
}

.bxl-instagram:before {
    content: "\e939";
}

.bxl-instagram-alt:before {
    content: "\e93a";
}

.bxl-internet-explorer:before {
    content: "\e93b";
}

.bxl-invision:before {
    content: "\e93c";
}

.bxl-javascript:before {
    content: "\e93d";
}

.bxl-joomla:before {
    content: "\e93e";
}

.bxl-jquery:before {
    content: "\e93f";
}

.bxl-jsfiddle:before {
    content: "\e940";
}

.bxl-kickstarter:before {
    content: "\e941";
}

.bxl-kubernetes:before {
    content: "\e942";
}

.bxl-less:before {
    content: "\e943";
}

.bxl-linkedin:before {
    content: "\e944";
}

.bxl-linkedin-square:before {
    content: "\e945";
}

.bxl-magento:before {
    content: "\e946";
}

.bxl-mailchimp:before {
    content: "\e947";
}

.bxl-markdown:before {
    content: "\e948";
}

.bxl-mastercard:before {
    content: "\e949";
}

.bxl-mastodon:before {
    content: "\e94a";
}

.bxl-medium:before {
    content: "\e94b";
}

.bxl-medium-old:before {
    content: "\e94c";
}

.bxl-medium-square:before {
    content: "\e94d";
}

.bxl-messenger:before {
    content: "\e94e";
}

.bxl-microsoft:before {
    content: "\e94f";
}

.bxl-microsoft-teams:before {
    content: "\e950";
}

.bxl-nodejs:before {
    content: "\e951";
}

.bxl-ok-ru:before {
    content: "\e952";
}

.bxl-opera:before {
    content: "\e953";
}

.bxl-patreon:before {
    content: "\e954";
}

.bxl-paypal:before {
    content: "\e955";
}

.bxl-periscope:before {
    content: "\e956";
}

.bxl-php:before {
    content: "\e957";
}

.bxl-pinterest:before {
    content: "\e958";
}

.bxl-pinterest-alt:before {
    content: "\e959";
}

.bxl-play-store:before {
    content: "\e95a";
}

.bxl-pocket:before {
    content: "\e95b";
}

.bxl-product-hunt:before {
    content: "\e95c";
}

.bxl-python:before {
    content: "\e95d";
}

.bxl-quora:before {
    content: "\e95e";
}

.bxl-react:before {
    content: "\e95f";
}

.bxl-redbubble:before {
    content: "\e960";
}

.bxl-reddit:before {
    content: "\e961";
}

.bxl-redux:before {
    content: "\e962";
}

.bxl-sass:before {
    content: "\e963";
}

.bxl-shopify:before {
    content: "\e964";
}

.bxl-sketch:before {
    content: "\e965";
}

.bxl-skype:before {
    content: "\e966";
}

.bxl-slack:before {
    content: "\e967";
}

.bxl-slack-old:before {
    content: "\e968";
}

.bxl-snapchat:before {
    content: "\e969";
}

.bxl-soundcloud:before {
    content: "\e96a";
}

.bxl-spotify:before {
    content: "\e96b";
}

.bxl-spring-boot:before {
    content: "\e96c";
}

.bxl-squarespace:before {
    content: "\e96d";
}

.bxl-stack-overflow:before {
    content: "\e96e";
}

.bxl-steam:before {
    content: "\e96f";
}

.bxl-stripe:before {
    content: "\e970";
}

.bxl-tailwind-css:before {
    content: "\e971";
}

.bxl-telegram:before {
    content: "\e972";
}

.bxl-tiktok:before {
    content: "\e973";
}

.bxl-trello:before {
    content: "\e974";
}

.bxl-trip-advisor:before {
    content: "\e975";
}

.bxl-tumblr:before {
    content: "\e976";
}

.bxl-tux:before {
    content: "\e977";
}

.bxl-twitch:before {
    content: "\e978";
}

.bxl-twitter:before {
    content: "\e979";
}

.bxl-unity:before {
    content: "\e97a";
}

.bxl-unsplash:before {
    content: "\e97b";
}

.bxl-vimeo:before {
    content: "\e97c";
}

.bxl-visa:before {
    content: "\e97d";
}

.bxl-visual-studio:before {
    content: "\e97e";
}

.bxl-vk:before {
    content: "\e97f";
}

.bxl-vuejs:before {
    content: "\e980";
}

.bxl-whatsapp:before {
    content: "\e981";
}

.bxl-whatsapp-square:before {
    content: "\e982";
}

.bxl-wikipedia:before {
    content: "\e983";
}

.bxl-windows:before {
    content: "\e984";
}

.bxl-wix:before {
    content: "\e985";
}

.bxl-wordpress:before {
    content: "\e986";
}

.bxl-yahoo:before {
    content: "\e987";
}

.bxl-yelp:before {
    content: "\e988";
}

.bxl-youtube:before {
    content: "\e989";
}

.bxl-zoom:before {
    content: "\e98a";
}

.bxs-add-to-queue:before {
    content: "\e98b";
}

.bxs-adjust:before {
    content: "\e98c";
}

.bxs-adjust-alt:before {
    content: "\e98d";
}

.bxs-alarm:before {
    content: "\e98e";
}

.bxs-alarm-add:before {
    content: "\e98f";
}

.bxs-alarm-exclamation:before {
    content: "\e990";
}

.bxs-alarm-off:before {
    content: "\e991";
}

.bxs-alarm-snooze:before {
    content: "\e992";
}

.bxs-album:before {
    content: "\e993";
}

.bxs-ambulance:before {
    content: "\e994";
}

.bxs-analyse:before {
    content: "\e995";
}

.bxs-angry:before {
    content: "\e996";
}

.bxs-arch:before {
    content: "\e997";
}

.bxs-archive:before {
    content: "\e998";
}

.bxs-archive-in:before {
    content: "\e999";
}

.bxs-archive-out:before {
    content: "\e99a";
}

.bxs-area:before {
    content: "\e99b";
}

.bxs-arrow-from-bottom:before {
    content: "\e99c";
}

.bxs-arrow-from-left:before {
    content: "\e99d";
}

.bxs-arrow-from-right:before {
    content: "\e99e";
}

.bxs-arrow-from-top:before {
    content: "\e99f";
}

.bxs-arrow-to-bottom:before {
    content: "\e9a0";
}

.bxs-arrow-to-left:before {
    content: "\e9a1";
}

.bxs-arrow-to-right:before {
    content: "\e9a2";
}

.bxs-arrow-to-top:before {
    content: "\e9a3";
}

.bxs-award:before {
    content: "\e9a4";
}

.bxs-baby-carriage:before {
    content: "\e9a5";
}

.bxs-backpack:before {
    content: "\e9a6";
}

.bxs-badge:before {
    content: "\e9a7";
}

.bxs-badge-check:before {
    content: "\e9a8";
}

.bxs-badge-dollar:before {
    content: "\e9a9";
}

.bxs-ball:before {
    content: "\e9aa";
}

.bxs-band-aid:before {
    content: "\e9ab";
}

.bxs-bank:before {
    content: "\e9ac";
}

.bxs-bar-chart-alt-2:before {
    content: "\e9ad";
}

.bxs-bar-chart-square:before {
    content: "\e9ae";
}

.bxs-barcode:before {
    content: "\e9af";
}

.bxs-baseball:before {
    content: "\e9b0";
}

.bxs-basket:before {
    content: "\e9b1";
}

.bxs-basketball:before {
    content: "\e9b2";
}

.bxs-bath:before {
    content: "\e9b3";
}

.bxs-battery:before {
    content: "\e9b4";
}

.bxs-battery-charging:before {
    content: "\e9b5";
}

.bxs-battery-full:before {
    content: "\e9b6";
}

.bxs-battery-low:before {
    content: "\e9b7";
}

.bxs-bed:before {
    content: "\e9b8";
}

.bxs-been-here:before {
    content: "\e9b9";
}

.bxs-beer:before {
    content: "\e9ba";
}

.bxs-bell:before {
    content: "\e9bb";
}

.bxs-bell-minus:before {
    content: "\e9bc";
}

.bxs-bell-off:before {
    content: "\e9bd";
}

.bxs-bell-plus:before {
    content: "\e9be";
}

.bxs-bell-ring:before {
    content: "\e9bf";
}

.bxs-bible:before {
    content: "\e9c0";
}

.bxs-binoculars:before {
    content: "\e9c1";
}

.bxs-blanket:before {
    content: "\e9c2";
}

.bxs-bolt:before {
    content: "\e9c3";
}

.bxs-bolt-circle:before {
    content: "\e9c4";
}

.bxs-bomb:before {
    content: "\e9c5";
}

.bxs-bone:before {
    content: "\e9c6";
}

.bxs-bong:before {
    content: "\e9c7";
}

.bxs-book:before {
    content: "\e9c8";
}

.bxs-book-add:before {
    content: "\e9c9";
}

.bxs-book-alt:before {
    content: "\e9ca";
}

.bxs-book-bookmark:before {
    content: "\e9cb";
}

.bxs-book-content:before {
    content: "\e9cc";
}

.bxs-book-heart:before {
    content: "\e9cd";
}

.bxs-bookmark:before {
    content: "\e9ce";
}

.bxs-bookmark-alt:before {
    content: "\e9cf";
}

.bxs-bookmark-alt-minus:before {
    content: "\e9d0";
}

.bxs-bookmark-alt-plus:before {
    content: "\e9d1";
}

.bxs-bookmark-heart:before {
    content: "\e9d2";
}

.bxs-bookmark-minus:before {
    content: "\e9d3";
}

.bxs-bookmark-plus:before {
    content: "\e9d4";
}

.bxs-bookmarks:before {
    content: "\e9d5";
}

.bxs-bookmark-star:before {
    content: "\e9d6";
}

.bxs-book-open:before {
    content: "\e9d7";
}

.bxs-book-reader:before {
    content: "\e9d8";
}

.bxs-bot:before {
    content: "\e9d9";
}

.bxs-bowling-ball:before {
    content: "\e9da";
}

.bxs-box:before {
    content: "\e9db";
}

.bxs-brain:before {
    content: "\e9dc";
}

.bxs-briefcase:before {
    content: "\e9dd";
}

.bxs-briefcase-alt:before {
    content: "\e9de";
}

.bxs-briefcase-alt-2:before {
    content: "\e9df";
}

.bxs-brightness:before {
    content: "\e9e0";
}

.bxs-brightness-half:before {
    content: "\e9e1";
}

.bxs-brush:before {
    content: "\e9e2";
}

.bxs-brush-alt:before {
    content: "\e9e3";
}

.bxs-bug:before {
    content: "\e9e4";
}

.bxs-bug-alt:before {
    content: "\e9e5";
}

.bxs-building:before {
    content: "\e9e6";
}

.bxs-building-house:before {
    content: "\e9e7";
}

.bxs-buildings:before {
    content: "\e9e8";
}

.bxs-bulb:before {
    content: "\e9e9";
}

.bxs-bullseye:before {
    content: "\e9ea";
}

.bxs-buoy:before {
    content: "\e9eb";
}

.bxs-bus:before {
    content: "\e9ec";
}

.bxs-business:before {
    content: "\e9ed";
}

.bxs-bus-school:before {
    content: "\e9ee";
}

.bxs-cabinet:before {
    content: "\e9ef";
}

.bxs-cake:before {
    content: "\e9f0";
}

.bxs-calculator:before {
    content: "\e9f1";
}

.bxs-calendar:before {
    content: "\e9f2";
}

.bxs-calendar-alt:before {
    content: "\e9f3";
}

.bxs-calendar-check:before {
    content: "\e9f4";
}

.bxs-calendar-edit:before {
    content: "\e9f5";
}

.bxs-calendar-event:before {
    content: "\e9f6";
}

.bxs-calendar-exclamation:before {
    content: "\e9f7";
}

.bxs-calendar-heart:before {
    content: "\e9f8";
}

.bxs-calendar-minus:before {
    content: "\e9f9";
}

.bxs-calendar-plus:before {
    content: "\e9fa";
}

.bxs-calendar-star:before {
    content: "\e9fb";
}

.bxs-calendar-week:before {
    content: "\e9fc";
}

.bxs-calendar-x:before {
    content: "\e9fd";
}

.bxs-camera:before {
    content: "\e9fe";
}

.bxs-camera-home:before {
    content: "\e9ff";
}

.bxs-camera-movie:before {
    content: "\ea00";
}

.bxs-camera-off:before {
    content: "\ea01";
}

.bxs-camera-plus:before {
    content: "\ea02";
}

.bxs-capsule:before {
    content: "\ea03";
}

.bxs-captions:before {
    content: "\ea04";
}

.bxs-car:before {
    content: "\ea05";
}

.bxs-car-battery:before {
    content: "\ea06";
}

.bxs-car-crash:before {
    content: "\ea07";
}

.bxs-card:before {
    content: "\ea08";
}

.bxs-caret-down-circle:before {
    content: "\ea09";
}

.bxs-caret-down-square:before {
    content: "\ea0a";
}

.bxs-caret-left-circle:before {
    content: "\ea0b";
}

.bxs-caret-left-square:before {
    content: "\ea0c";
}

.bxs-caret-right-circle:before {
    content: "\ea0d";
}

.bxs-caret-right-square:before {
    content: "\ea0e";
}

.bxs-caret-up-circle:before {
    content: "\ea0f";
}

.bxs-caret-up-square:before {
    content: "\ea10";
}

.bxs-car-garage:before {
    content: "\ea11";
}

.bxs-car-mechanic:before {
    content: "\ea12";
}

.bxs-carousel:before {
    content: "\ea13";
}

.bxs-cart:before {
    content: "\ea14";
}

.bxs-cart-add:before {
    content: "\ea15";
}

.bxs-cart-alt:before {
    content: "\ea16";
}

.bxs-cart-download:before {
    content: "\ea17";
}

.bxs-car-wash:before {
    content: "\ea18";
}

.bxs-category:before {
    content: "\ea19";
}

.bxs-category-alt:before {
    content: "\ea1a";
}

.bxs-cctv:before {
    content: "\ea1b";
}

.bxs-certification:before {
    content: "\ea1c";
}

.bxs-chalkboard:before {
    content: "\ea1d";
}

.bxs-chart:before {
    content: "\ea1e";
}

.bxs-chat:before {
    content: "\ea1f";
}

.bxs-checkbox:before {
    content: "\ea20";
}

.bxs-checkbox-checked:before {
    content: "\ea21";
}

.bxs-checkbox-minus:before {
    content: "\ea22";
}

.bxs-check-circle:before {
    content: "\ea23";
}

.bxs-check-shield:before {
    content: "\ea24";
}

.bxs-check-square:before {
    content: "\ea25";
}

.bxs-chess:before {
    content: "\ea26";
}

.bxs-chevron-down:before {
    content: "\ea27";
}

.bxs-chevron-down-circle:before {
    content: "\ea28";
}

.bxs-chevron-down-square:before {
    content: "\ea29";
}

.bxs-chevron-left:before {
    content: "\ea2a";
}

.bxs-chevron-left-circle:before {
    content: "\ea2b";
}

.bxs-chevron-left-square:before {
    content: "\ea2c";
}

.bxs-chevron-right:before {
    content: "\ea2d";
}

.bxs-chevron-right-circle:before {
    content: "\ea2e";
}

.bxs-chevron-right-square:before {
    content: "\ea2f";
}

.bxs-chevrons-down:before {
    content: "\ea30";
}

.bxs-chevrons-left:before {
    content: "\ea31";
}

.bxs-chevrons-right:before {
    content: "\ea32";
}

.bxs-chevrons-up:before {
    content: "\ea33";
}

.bxs-chevron-up:before {
    content: "\ea34";
}

.bxs-chevron-up-circle:before {
    content: "\ea35";
}

.bxs-chevron-up-square:before {
    content: "\ea36";
}

.bxs-chip:before {
    content: "\ea37";
}

.bxs-church:before {
    content: "\ea38";
}

.bxs-circle:before {
    content: "\ea39";
}

.bxs-city:before {
    content: "\ea3a";
}

.bxs-clinic:before {
    content: "\ea3b";
}

.bxs-cloud:before {
    content: "\ea3c";
}

.bxs-cloud-download:before {
    content: "\ea3d";
}

.bxs-cloud-lightning:before {
    content: "\ea3e";
}

.bxs-cloud-rain:before {
    content: "\ea3f";
}

.bxs-cloud-upload:before {
    content: "\ea40";
}

.bxs-coffee:before {
    content: "\ea41";
}

.bxs-coffee-alt:before {
    content: "\ea42";
}

.bxs-coffee-togo:before {
    content: "\ea43";
}

.bxs-cog:before {
    content: "\ea44";
}

.bxs-coin:before {
    content: "\ea45";
}

.bxs-coin-stack:before {
    content: "\ea46";
}

.bxs-collection:before {
    content: "\ea47";
}

.bxs-color-fill:before {
    content: "\ea48";
}

.bxs-comment:before {
    content: "\ea49";
}

.bxs-comment-add:before {
    content: "\ea4a";
}

.bxs-comment-check:before {
    content: "\ea4b";
}

.bxs-comment-detail:before {
    content: "\ea4c";
}

.bxs-comment-dots:before {
    content: "\ea4d";
}

.bxs-comment-edit:before {
    content: "\ea4e";
}

.bxs-comment-error:before {
    content: "\ea4f";
}

.bxs-comment-minus:before {
    content: "\ea50";
}

.bxs-comment-x:before {
    content: "\ea51";
}

.bxs-compass:before {
    content: "\ea52";
}

.bxs-component:before {
    content: "\ea53";
}

.bxs-confused:before {
    content: "\ea54";
}

.bxs-contact:before {
    content: "\ea55";
}

.bxs-conversation:before {
    content: "\ea56";
}

.bxs-cookie:before {
    content: "\ea57";
}

.bxs-cool:before {
    content: "\ea58";
}

.bxs-copy:before {
    content: "\ea59";
}

.bxs-copy-alt:before {
    content: "\ea5a";
}

.bxs-copyright:before {
    content: "\ea5b";
}

.bxs-coupon:before {
    content: "\ea5c";
}

.bxs-credit-card:before {
    content: "\ea5d";
}

.bxs-credit-card-alt:before {
    content: "\ea5e";
}

.bxs-credit-card-front:before {
    content: "\ea5f";
}

.bxs-crop:before {
    content: "\ea60";
}

.bxs-crown:before {
    content: "\ea61";
}

.bxs-cube:before {
    content: "\ea62";
}

.bxs-cube-alt:before {
    content: "\ea63";
}

.bxs-cuboid:before {
    content: "\ea64";
}

.bxs-customize:before {
    content: "\ea65";
}

.bxs-cylinder:before {
    content: "\ea66";
}

.bxs-dashboard:before {
    content: "\ea67";
}

.bxs-data:before {
    content: "\ea68";
}

.bxs-detail:before {
    content: "\ea69";
}

.bxs-devices:before {
    content: "\ea6a";
}

.bxs-diamond:before {
    content: "\ea6b";
}

.bxs-dice-1:before {
    content: "\ea6c";
}

.bxs-dice-2:before {
    content: "\ea6d";
}

.bxs-dice-3:before {
    content: "\ea6e";
}

.bxs-dice-4:before {
    content: "\ea6f";
}

.bxs-dice-5:before {
    content: "\ea70";
}

.bxs-dice-6:before {
    content: "\ea71";
}

.bxs-direction-left:before {
    content: "\ea72";
}

.bxs-direction-right:before {
    content: "\ea73";
}

.bxs-directions:before {
    content: "\ea74";
}

.bxs-disc:before {
    content: "\ea75";
}

.bxs-discount:before {
    content: "\ea76";
}

.bxs-dish:before {
    content: "\ea77";
}

.bxs-dislike:before {
    content: "\ea78";
}

.bxs-dizzy:before {
    content: "\ea79";
}

.bxs-dock-bottom:before {
    content: "\ea7a";
}

.bxs-dock-left:before {
    content: "\ea7b";
}

.bxs-dock-right:before {
    content: "\ea7c";
}

.bxs-dock-top:before {
    content: "\ea7d";
}

.bxs-dollar-circle:before {
    content: "\ea7e";
}

.bxs-donate-blood:before {
    content: "\ea7f";
}

.bxs-donate-heart:before {
    content: "\ea80";
}

.bxs-door-open:before {
    content: "\ea81";
}

.bxs-doughnut-chart:before {
    content: "\ea82";
}

.bxs-down-arrow:before {
    content: "\ea83";
}

.bxs-down-arrow-alt:before {
    content: "\ea84";
}

.bxs-down-arrow-circle:before {
    content: "\ea85";
}

.bxs-down-arrow-square:before {
    content: "\ea86";
}

.bxs-download:before {
    content: "\ea87";
}

.bxs-downvote:before {
    content: "\ea88";
}

.bxs-drink:before {
    content: "\ea89";
}

.bxs-droplet:before {
    content: "\ea8a";
}

.bxs-droplet-half:before {
    content: "\ea8b";
}

.bxs-dryer:before {
    content: "\ea8c";
}

.bxs-duplicate:before {
    content: "\ea8d";
}

.bxs-edit:before {
    content: "\ea8e";
}

.bxs-edit-alt:before {
    content: "\ea8f";
}

.bxs-edit-location:before {
    content: "\ea90";
}

.bxs-eject:before {
    content: "\ea91";
}

.bxs-envelope:before {
    content: "\ea92";
}

.bxs-envelope-open:before {
    content: "\ea93";
}

.bxs-eraser:before {
    content: "\ea94";
}

.bxs-error:before {
    content: "\ea95";
}

.bxs-error-alt:before {
    content: "\ea96";
}

.bxs-error-circle:before {
    content: "\ea97";
}

.bxs-ev-station:before {
    content: "\ea98";
}

.bxs-exit:before {
    content: "\ea99";
}

.bxs-extension:before {
    content: "\ea9a";
}

.bxs-eyedropper:before {
    content: "\ea9b";
}

.bxs-face:before {
    content: "\ea9c";
}

.bxs-face-mask:before {
    content: "\ea9d";
}

.bxs-factory:before {
    content: "\ea9e";
}

.bxs-fast-forward-circle:before {
    content: "\ea9f";
}

.bxs-file:before {
    content: "\eaa0";
}

.bxs-file-archive:before {
    content: "\eaa1";
}

.bxs-file-blank:before {
    content: "\eaa2";
}

.bxs-file-css:before {
    content: "\eaa3";
}

.bxs-file-doc:before {
    content: "\eaa4";
}

.bxs-file-export:before {
    content: "\eaa5";
}

.bxs-file-find:before {
    content: "\eaa6";
}

.bxs-file-gif:before {
    content: "\eaa7";
}

.bxs-file-html:before {
    content: "\eaa8";
}

.bxs-file-image:before {
    content: "\eaa9";
}

.bxs-file-import:before {
    content: "\eaaa";
}

.bxs-file-jpg:before {
    content: "\eaab";
}

.bxs-file-js:before {
    content: "\eaac";
}

.bxs-file-json:before {
    content: "\eaad";
}

.bxs-file-md:before {
    content: "\eaae";
}

.bxs-file-pdf:before {
    content: "\eaaf";
}

.bxs-file-plus:before {
    content: "\eab0";
}

.bxs-file-png:before {
    content: "\eab1";
}

.bxs-file-txt:before {
    content: "\eab2";
}

.bxs-film:before {
    content: "\eab3";
}

.bxs-filter-alt:before {
    content: "\eab4";
}

.bxs-first-aid:before {
    content: "\eab5";
}

.bxs-flag:before {
    content: "\eab6";
}

.bxs-flag-alt:before {
    content: "\eab7";
}

.bxs-flag-checkered:before {
    content: "\eab8";
}

.bxs-flame:before {
    content: "\eab9";
}

.bxs-flask:before {
    content: "\eaba";
}

.bxs-florist:before {
    content: "\eabb";
}

.bxs-folder:before {
    content: "\eabc";
}

.bxs-folder-minus:before {
    content: "\eabd";
}

.bxs-folder-open:before {
    content: "\eabe";
}

.bxs-folder-plus:before {
    content: "\eabf";
}

.bxs-food-menu:before {
    content: "\eac0";
}

.bxs-fridge:before {
    content: "\eac1";
}

.bxs-game:before {
    content: "\eac2";
}

.bxs-gas-pump:before {
    content: "\eac3";
}

.bxs-ghost:before {
    content: "\eac4";
}

.bxs-gift:before {
    content: "\eac5";
}

.bxs-graduation:before {
    content: "\eac6";
}

.bxs-grid:before {
    content: "\eac7";
}

.bxs-grid-alt:before {
    content: "\eac8";
}

.bxs-group:before {
    content: "\eac9";
}

.bxs-guitar-amp:before {
    content: "\eaca";
}

.bxs-hand:before {
    content: "\eacb";
}

.bxs-hand-down:before {
    content: "\eacc";
}

.bxs-hand-left:before {
    content: "\eacd";
}

.bxs-hand-right:before {
    content: "\eace";
}

.bxs-hand-up:before {
    content: "\eacf";
}

.bxs-happy:before {
    content: "\ead0";
}

.bxs-happy-alt:before {
    content: "\ead1";
}

.bxs-happy-beaming:before {
    content: "\ead2";
}

.bxs-happy-heart-eyes:before {
    content: "\ead3";
}

.bxs-hdd:before {
    content: "\ead4";
}

.bxs-heart:before {
    content: "\ead5";
}

.bxs-heart-circle:before {
    content: "\ead6";
}

.bxs-heart-square:before {
    content: "\ead7";
}

.bxs-help-circle:before {
    content: "\ead8";
}

.bxs-hide:before {
    content: "\ead9";
}

.bxs-home:before {
    content: "\eada";
}

.bxs-home-circle:before {
    content: "\eadb";
}

.bxs-home-heart:before {
    content: "\eadc";
}

.bxs-home-smile:before {
    content: "\eadd";
}

.bxs-hot:before {
    content: "\eade";
}

.bxs-hotel:before {
    content: "\eadf";
}

.bxs-hourglass:before {
    content: "\eae0";
}

.bxs-hourglass-bottom:before {
    content: "\eae1";
}

.bxs-hourglass-top:before {
    content: "\eae2";
}

.bxs-id-card:before {
    content: "\eae3";
}

.bxs-image:before {
    content: "\eae4";
}

.bxs-image-add:before {
    content: "\eae5";
}

.bxs-image-alt:before {
    content: "\eae6";
}

.bxs-inbox:before {
    content: "\eae7";
}

.bxs-info-circle:before {
    content: "\eae8";
}

.bxs-info-square:before {
    content: "\eae9";
}

.bxs-institution:before {
    content: "\eaea";
}

.bxs-joystick:before {
    content: "\eaeb";
}

.bxs-joystick-alt:before {
    content: "\eaec";
}

.bxs-joystick-button:before {
    content: "\eaed";
}

.bxs-key:before {
    content: "\eaee";
}

.bxs-keyboard:before {
    content: "\eaef";
}

.bxs-label:before {
    content: "\eaf0";
}

.bxs-landmark:before {
    content: "\eaf1";
}

.bxs-landscape:before {
    content: "\eaf2";
}

.bxs-laugh:before {
    content: "\eaf3";
}

.bxs-layer:before {
    content: "\eaf4";
}

.bxs-layer-minus:before {
    content: "\eaf5";
}

.bxs-layer-plus:before {
    content: "\eaf6";
}

.bxs-layout:before {
    content: "\eaf7";
}

.bxs-left-arrow:before {
    content: "\eaf8";
}

.bxs-left-arrow-alt:before {
    content: "\eaf9";
}

.bxs-left-arrow-circle:before {
    content: "\eafa";
}

.bxs-left-arrow-square:before {
    content: "\eafb";
}

.bxs-left-down-arrow-circle:before {
    content: "\eafc";
}

.bxs-left-top-arrow-circle:before {
    content: "\eafd";
}

.bxs-like:before {
    content: "\eafe";
}

.bxs-location-plus:before {
    content: "\eaff";
}

.bxs-lock:before {
    content: "\eb00";
}

.bxs-lock-alt:before {
    content: "\eb01";
}

.bxs-lock-open:before {
    content: "\eb02";
}

.bxs-lock-open-alt:before {
    content: "\eb03";
}

.bxs-log-in:before {
    content: "\eb04";
}

.bxs-log-in-circle:before {
    content: "\eb05";
}

.bxs-log-out:before {
    content: "\eb06";
}

.bxs-log-out-circle:before {
    content: "\eb07";
}

.bxs-low-vision:before {
    content: "\eb08";
}

.bxs-magic-wand:before {
    content: "\eb09";
}

.bxs-magnet:before {
    content: "\eb0a";
}

.bxs-map:before {
    content: "\eb0b";
}

.bxs-map-alt:before {
    content: "\eb0c";
}

.bxs-map-pin:before {
    content: "\eb0d";
}

.bxs-mask:before {
    content: "\eb0e";
}

.bxs-medal:before {
    content: "\eb0f";
}

.bxs-megaphone:before {
    content: "\eb10";
}

.bxs-meh:before {
    content: "\eb11";
}

.bxs-meh-alt:before {
    content: "\eb12";
}

.bxs-meh-blank:before {
    content: "\eb13";
}

.bxs-memory-card:before {
    content: "\eb14";
}

.bxs-message:before {
    content: "\eb15";
}

.bxs-message-add:before {
    content: "\eb16";
}

.bxs-message-alt:before {
    content: "\eb17";
}

.bxs-message-alt-add:before {
    content: "\eb18";
}

.bxs-message-alt-check:before {
    content: "\eb19";
}

.bxs-message-alt-detail:before {
    content: "\eb1a";
}

.bxs-message-alt-dots:before {
    content: "\eb1b";
}

.bxs-message-alt-edit:before {
    content: "\eb1c";
}

.bxs-message-alt-error:before {
    content: "\eb1d";
}

.bxs-message-alt-minus:before {
    content: "\eb1e";
}

.bxs-message-alt-x:before {
    content: "\eb1f";
}

.bxs-message-check:before {
    content: "\eb20";
}

.bxs-message-detail:before {
    content: "\eb21";
}

.bxs-message-dots:before {
    content: "\eb22";
}

.bxs-message-edit:before {
    content: "\eb23";
}

.bxs-message-error:before {
    content: "\eb24";
}

.bxs-message-minus:before {
    content: "\eb25";
}

.bxs-message-rounded:before {
    content: "\eb26";
}

.bxs-message-rounded-add:before {
    content: "\eb27";
}

.bxs-message-rounded-check:before {
    content: "\eb28";
}

.bxs-message-rounded-detail:before {
    content: "\eb29";
}

.bxs-message-rounded-dots:before {
    content: "\eb2a";
}

.bxs-message-rounded-edit:before {
    content: "\eb2b";
}

.bxs-message-rounded-error:before {
    content: "\eb2c";
}

.bxs-message-rounded-minus:before {
    content: "\eb2d";
}

.bxs-message-rounded-x:before {
    content: "\eb2e";
}

.bxs-message-square:before {
    content: "\eb2f";
}

.bxs-message-square-add:before {
    content: "\eb30";
}

.bxs-message-square-check:before {
    content: "\eb31";
}

.bxs-message-square-detail:before {
    content: "\eb32";
}

.bxs-message-square-dots:before {
    content: "\eb33";
}

.bxs-message-square-edit:before {
    content: "\eb34";
}

.bxs-message-square-error:before {
    content: "\eb35";
}

.bxs-message-square-minus:before {
    content: "\eb36";
}

.bxs-message-square-x:before {
    content: "\eb37";
}

.bxs-message-x:before {
    content: "\eb38";
}

.bxs-meteor:before {
    content: "\eb39";
}

.bxs-microchip:before {
    content: "\eb3a";
}

.bxs-microphone:before {
    content: "\eb3b";
}

.bxs-microphone-alt:before {
    content: "\eb3c";
}

.bxs-microphone-off:before {
    content: "\eb3d";
}

.bxs-minus-circle:before {
    content: "\eb3e";
}

.bxs-minus-square:before {
    content: "\eb3f";
}

.bxs-mobile:before {
    content: "\eb40";
}

.bxs-mobile-vibration:before {
    content: "\eb41";
}

.bxs-moon:before {
    content: "\eb42";
}

.bxs-mouse:before {
    content: "\eb43";
}

.bxs-mouse-alt:before {
    content: "\eb44";
}

.bxs-movie:before {
    content: "\eb45";
}

.bxs-movie-play:before {
    content: "\eb46";
}

.bxs-music:before {
    content: "\eb47";
}

.bxs-navigation:before {
    content: "\eb48";
}

.bxs-network-chart:before {
    content: "\eb49";
}

.bxs-news:before {
    content: "\eb4a";
}

.bxs-no-entry:before {
    content: "\eb4b";
}

.bxs-note:before {
    content: "\eb4c";
}

.bxs-notepad:before {
    content: "\eb4d";
}

.bxs-notification:before {
    content: "\eb4e";
}

.bxs-notification-off:before {
    content: "\eb4f";
}

.bxs-offer:before {
    content: "\eb50";
}

.bxs-package:before {
    content: "\eb51";
}

.bxs-paint:before {
    content: "\eb52";
}

.bxs-paint-roll:before {
    content: "\eb53";
}

.bxs-palette:before {
    content: "\eb54";
}

.bxs-paper-plane:before {
    content: "\eb55";
}

.bxs-parking:before {
    content: "\eb56";
}

.bxs-paste:before {
    content: "\eb57";
}

.bxs-pen:before {
    content: "\eb58";
}

.bxs-pencil:before {
    content: "\eb59";
}

.bxs-phone:before {
    content: "\eb5a";
}

.bxs-phone-call:before {
    content: "\eb5b";
}

.bxs-phone-incoming:before {
    content: "\eb5c";
}

.bxs-phone-off:before {
    content: "\eb5d";
}

.bxs-phone-outgoing:before {
    content: "\eb5e";
}

.bxs-photo-album:before {
    content: "\eb5f";
}

.bxs-piano:before {
    content: "\eb60";
}

.bxs-pie-chart:before {
    content: "\eb61";
}

.bxs-pie-chart-alt:before {
    content: "\eb62";
}

.bxs-pie-chart-alt-2:before {
    content: "\eb63";
}

.bxs-pin:before {
    content: "\eb64";
}

.bxs-pizza:before {
    content: "\eb65";
}

.bxs-plane:before {
    content: "\eb66";
}

.bxs-plane-alt:before {
    content: "\eb67";
}

.bxs-plane-land:before {
    content: "\eb68";
}

.bxs-planet:before {
    content: "\eb69";
}

.bxs-plane-take-off:before {
    content: "\eb6a";
}

.bxs-playlist:before {
    content: "\eb6b";
}

.bxs-plug:before {
    content: "\eb6c";
}

.bxs-plus-circle:before {
    content: "\eb6d";
}

.bxs-plus-square:before {
    content: "\eb6e";
}

.bxs-pointer:before {
    content: "\eb6f";
}

.bxs-polygon:before {
    content: "\eb70";
}

.bxs-printer:before {
    content: "\eb71";
}

.bxs-purchase-tag:before {
    content: "\eb72";
}

.bxs-purchase-tag-alt:before {
    content: "\eb73";
}

.bxs-pyramid:before {
    content: "\eb74";
}

.bxs-quote-alt-left:before {
    content: "\eb75";
}

.bxs-quote-alt-right:before {
    content: "\eb76";
}

.bxs-quote-left:before {
    content: "\eb77";
}

.bxs-quote-right:before {
    content: "\eb78";
}

.bxs-quote-single-left:before {
    content: "\eb79";
}

.bxs-quote-single-right:before {
    content: "\eb7a";
}

.bxs-radiation:before {
    content: "\eb7b";
}

.bxs-radio:before {
    content: "\eb7c";
}

.bxs-receipt:before {
    content: "\eb7d";
}

.bxs-rectangle:before {
    content: "\eb7e";
}

.bxs-registered:before {
    content: "\eb7f";
}

.bxs-rename:before {
    content: "\eb80";
}

.bxs-report:before {
    content: "\eb81";
}

.bxs-rewind-circle:before {
    content: "\eb82";
}

.bxs-right-arrow:before {
    content: "\eb83";
}

.bxs-right-arrow-alt:before {
    content: "\eb84";
}

.bxs-right-arrow-circle:before {
    content: "\eb85";
}

.bxs-right-arrow-square:before {
    content: "\eb86";
}

.bxs-right-down-arrow-circle:before {
    content: "\eb87";
}

.bxs-right-top-arrow-circle:before {
    content: "\eb88";
}

.bxs-rocket:before {
    content: "\eb89";
}

.bxs-ruler:before {
    content: "\eb8a";
}

.bxs-sad:before {
    content: "\eb8b";
}

.bxs-save:before {
    content: "\eb8c";
}

.bxs-school:before {
    content: "\eb8d";
}

.bxs-search:before {
    content: "\eb8e";
}

.bxs-search-alt-2:before {
    content: "\eb8f";
}

.bxs-select-multiple:before {
    content: "\eb90";
}

.bxs-send:before {
    content: "\eb91";
}

.bxs-server:before {
    content: "\eb92";
}

.bxs-shapes:before {
    content: "\eb93";
}

.bxs-share:before {
    content: "\eb94";
}

.bxs-share-alt:before {
    content: "\eb95";
}

.bxs-shield:before {
    content: "\eb96";
}

.bxs-shield-alt-2:before {
    content: "\eb97";
}

.bxs-shield-x:before {
    content: "\eb98";
}

.bxs-ship:before {
    content: "\eb99";
}

.bxs-shocked:before {
    content: "\eb9a";
}

.bxs-shopping-bag:before {
    content: "\eb9b";
}

.bxs-shopping-bag-alt:before {
    content: "\eb9c";
}

.bxs-shopping-bags:before {
    content: "\eb9d";
}

.bxs-show:before {
    content: "\eb9e";
}

.bxs-skip-next-circle:before {
    content: "\eb9f";
}

.bxs-skip-previous-circle:before {
    content: "\eba0";
}

.bxs-skull:before {
    content: "\eba1";
}

.bxs-sleepy:before {
    content: "\eba2";
}

.bxs-slideshow:before {
    content: "\eba3";
}

.bxs-smile:before {
    content: "\eba4";
}

.bxs-sort-alt:before {
    content: "\eba5";
}

.bxs-spa:before {
    content: "\eba6";
}

.bxs-speaker:before {
    content: "\eba7";
}

.bxs-spray-can:before {
    content: "\eba8";
}

.bxs-spreadsheet:before {
    content: "\eba9";
}

.bxs-square:before {
    content: "\ebaa";
}

.bxs-square-rounded:before {
    content: "\ebab";
}

.bxs-star:before {
    content: "\ebac";
}

.bxs-star-half:before {
    content: "\ebad";
}

.bxs-sticker:before {
    content: "\ebae";
}

.bxs-stopwatch:before {
    content: "\ebaf";
}

.bxs-store:before {
    content: "\ebb0";
}

.bxs-store-alt:before {
    content: "\ebb1";
}

.bxs-sun:before {
    content: "\ebb2";
}

.bxs-tachometer:before {
    content: "\ebb3";
}

.bxs-tag:before {
    content: "\ebb4";
}

.bxs-tag-alt:before {
    content: "\ebb5";
}

.bxs-tag-x:before {
    content: "\ebb6";
}

.bxs-taxi:before {
    content: "\ebb7";
}

.bxs-tennis-ball:before {
    content: "\ebb8";
}

.bxs-terminal:before {
    content: "\ebb9";
}

.bxs-thermometer:before {
    content: "\ebba";
}

.bxs-time:before {
    content: "\ebbb";
}

.bxs-time-five:before {
    content: "\ebbc";
}

.bxs-timer:before {
    content: "\ebbd";
}

.bxs-tired:before {
    content: "\ebbe";
}

.bxs-toggle-left:before {
    content: "\ebbf";
}

.bxs-toggle-right:before {
    content: "\ebc0";
}

.bxs-tone:before {
    content: "\ebc1";
}

.bxs-torch:before {
    content: "\ebc2";
}

.bxs-to-top:before {
    content: "\ebc3";
}

.bxs-traffic:before {
    content: "\ebc4";
}

.bxs-traffic-barrier:before {
    content: "\ebc5";
}

.bxs-traffic-cone:before {
    content: "\ebc6";
}

.bxs-train:before {
    content: "\ebc7";
}

.bxs-trash:before {
    content: "\ebc8";
}

.bxs-trash-alt:before {
    content: "\ebc9";
}

.bxs-tree:before {
    content: "\ebca";
}

.bxs-trophy:before {
    content: "\ebcb";
}

.bxs-truck:before {
    content: "\ebcc";
}

.bxs-t-shirt:before {
    content: "\ebcd";
}

.bxs-tv:before {
    content: "\ebce";
}

.bxs-up-arrow:before {
    content: "\ebcf";
}

.bxs-up-arrow-alt:before {
    content: "\ebd0";
}

.bxs-up-arrow-circle:before {
    content: "\ebd1";
}

.bxs-up-arrow-square:before {
    content: "\ebd2";
}

.bxs-upside-down:before {
    content: "\ebd3";
}

.bxs-upvote:before {
    content: "\ebd4";
}

.bxs-user:before {
    content: "\ebd5";
}

.bxs-user-account:before {
    content: "\ebd6";
}

.bxs-user-badge:before {
    content: "\ebd7";
}

.bxs-user-check:before {
    content: "\ebd8";
}

.bxs-user-circle:before {
    content: "\ebd9";
}

.bxs-user-detail:before {
    content: "\ebda";
}

.bxs-user-minus:before {
    content: "\ebdb";
}

.bxs-user-pin:before {
    content: "\ebdc";
}

.bxs-user-plus:before {
    content: "\ebdd";
}

.bxs-user-rectangle:before {
    content: "\ebde";
}

.bxs-user-voice:before {
    content: "\ebdf";
}

.bxs-user-x:before {
    content: "\ebe0";
}

.bxs-vector:before {
    content: "\ebe1";
}

.bxs-vial:before {
    content: "\ebe2";
}

.bxs-video:before {
    content: "\ebe3";
}

.bxs-video-off:before {
    content: "\ebe4";
}

.bxs-video-plus:before {
    content: "\ebe5";
}

.bxs-video-recording:before {
    content: "\ebe6";
}

.bxs-videos:before {
    content: "\ebe7";
}

.bxs-virus:before {
    content: "\ebe8";
}

.bxs-virus-block:before {
    content: "\ebe9";
}

.bxs-volume:before {
    content: "\ebea";
}

.bxs-volume-full:before {
    content: "\ebeb";
}

.bxs-volume-low:before {
    content: "\ebec";
}

.bxs-volume-mute:before {
    content: "\ebed";
}

.bxs-wallet:before {
    content: "\ebee";
}

.bxs-wallet-alt:before {
    content: "\ebef";
}

.bxs-washer:before {
    content: "\ebf0";
}

.bxs-watch:before {
    content: "\ebf1";
}

.bxs-watch-alt:before {
    content: "\ebf2";
}

.bxs-webcam:before {
    content: "\ebf3";
}

.bxs-widget:before {
    content: "\ebf4";
}

.bxs-window-alt:before {
    content: "\ebf5";
}

.bxs-wine:before {
    content: "\ebf6";
}

.bxs-wink-smile:before {
    content: "\ebf7";
}

.bxs-wink-tongue:before {
    content: "\ebf8";
}

.bxs-wrench:before {
    content: "\ebf9";
}

.bxs-x-circle:before {
    content: "\ebfa";
}

.bxs-x-square:before {
    content: "\ebfb";
}

.bxs-yin-yang:before {
    content: "\ebfc";
}

.bxs-zap:before {
    content: "\ebfd";
}

.bxs-zoom-in:before {
    content: "\ebfe";
}

.bxs-zoom-out:before {
    content: "\ebff";
}

.bx-abacus:before {
    content: "\ec00";
}

.bx-accessibility:before {
    content: "\ec01";
}

.bx-add-to-queue:before {
    content: "\ec02";
}

.bx-adjust:before {
    content: "\ec03";
}

.bx-alarm:before {
    content: "\ec04";
}

.bx-alarm-add:before {
    content: "\ec05";
}

.bx-alarm-exclamation:before {
    content: "\ec06";
}

.bx-alarm-off:before {
    content: "\ec07";
}

.bx-alarm-snooze:before {
    content: "\ec08";
}

.bx-album:before {
    content: "\ec09";
}

.bx-align-justify:before {
    content: "\ec0a";
}

.bx-align-left:before {
    content: "\ec0b";
}

.bx-align-middle:before {
    content: "\ec0c";
}

.bx-align-right:before {
    content: "\ec0d";
}

.bx-analyse:before {
    content: "\ec0e";
}

.bx-anchor:before {
    content: "\ec0f";
}

.bx-angry:before {
    content: "\ec10";
}

.bx-aperture:before {
    content: "\ec11";
}

.bx-arch:before {
    content: "\ec12";
}

.bx-archive:before {
    content: "\ec13";
}

.bx-archive-in:before {
    content: "\ec14";
}

.bx-archive-out:before {
    content: "\ec15";
}

.bx-area:before {
    content: "\ec16";
}

.bx-arrow-back:before {
    content: "\ec17";
}

.bx-arrow-from-bottom:before {
    content: "\ec18";
}

.bx-arrow-from-left:before {
    content: "\ec19";
}

.bx-arrow-from-right:before {
    content: "\ec1a";
}

.bx-arrow-from-top:before {
    content: "\ec1b";
}

.bx-arrow-to-bottom:before {
    content: "\ec1c";
}

.bx-arrow-to-left:before {
    content: "\ec1d";
}

.bx-arrow-to-right:before {
    content: "\ec1e";
}

.bx-arrow-to-top:before {
    content: "\ec1f";
}

.bx-at:before {
    content: "\ec20";
}

.bx-atom:before {
    content: "\ec21";
}

.bx-award:before {
    content: "\ec22";
}

.bx-badge:before {
    content: "\ec23";
}

.bx-badge-check:before {
    content: "\ec24";
}

.bx-ball:before {
    content: "\ec25";
}

.bx-band-aid:before {
    content: "\ec26";
}

.bx-bar-chart:before {
    content: "\ec27";
}

.bx-bar-chart-alt:before {
    content: "\ec28";
}

.bx-bar-chart-alt-2:before {
    content: "\ec29";
}

.bx-bar-chart-square:before {
    content: "\ec2a";
}

.bx-barcode:before {
    content: "\ec2b";
}

.bx-barcode-reader:before {
    content: "\ec2c";
}

.bx-baseball:before {
    content: "\ec2d";
}

.bx-basket:before {
    content: "\ec2e";
}

.bx-basketball:before {
    content: "\ec2f";
}

.bx-bath:before {
    content: "\ec30";
}

.bx-battery:before {
    content: "\ec31";
}

.bx-bed:before {
    content: "\ec32";
}

.bx-been-here:before {
    content: "\ec33";
}

.bx-beer:before {
    content: "\ec34";
}

.bx-bell:before {
    content: "\ec35";
}

.bx-bell-minus:before {
    content: "\ec36";
}

.bx-bell-off:before {
    content: "\ec37";
}

.bx-bell-plus:before {
    content: "\ec38";
}

.bx-bible:before {
    content: "\ec39";
}

.bx-bitcoin:before {
    content: "\ec3a";
}

.bx-blanket:before {
    content: "\ec3b";
}

.bx-block:before {
    content: "\ec3c";
}

.bx-bluetooth:before {
    content: "\ec3d";
}

.bx-body:before {
    content: "\ec3e";
}

.bx-bold:before {
    content: "\ec3f";
}

.bx-bolt-circle:before {
    content: "\ec40";
}

.bx-bomb:before {
    content: "\ec41";
}

.bx-bone:before {
    content: "\ec42";
}

.bx-bong:before {
    content: "\ec43";
}

.bx-book:before {
    content: "\ec44";
}

.bx-book-add:before {
    content: "\ec45";
}

.bx-book-alt:before {
    content: "\ec46";
}

.bx-book-bookmark:before {
    content: "\ec47";
}

.bx-book-content:before {
    content: "\ec48";
}

.bx-book-heart:before {
    content: "\ec49";
}

.bx-bookmark:before {
    content: "\ec4a";
}

.bx-bookmark-alt:before {
    content: "\ec4b";
}

.bx-bookmark-alt-minus:before {
    content: "\ec4c";
}

.bx-bookmark-alt-plus:before {
    content: "\ec4d";
}

.bx-bookmark-heart:before {
    content: "\ec4e";
}

.bx-bookmark-minus:before {
    content: "\ec4f";
}

.bx-bookmark-plus:before {
    content: "\ec50";
}

.bx-bookmarks:before {
    content: "\ec51";
}

.bx-book-open:before {
    content: "\ec52";
}

.bx-book-reader:before {
    content: "\ec53";
}

.bx-border-all:before {
    content: "\ec54";
}

.bx-border-bottom:before {
    content: "\ec55";
}

.bx-border-inner:before {
    content: "\ec56";
}

.bx-border-left:before {
    content: "\ec57";
}

.bx-border-none:before {
    content: "\ec58";
}

.bx-border-outer:before {
    content: "\ec59";
}

.bx-border-radius:before {
    content: "\ec5a";
}

.bx-border-right:before {
    content: "\ec5b";
}

.bx-border-top:before {
    content: "\ec5c";
}

.bx-bot:before {
    content: "\ec5d";
}

.bx-bowling-ball:before {
    content: "\ec5e";
}

.bx-box:before {
    content: "\ec5f";
}

.bx-bracket:before {
    content: "\ec60";
}

.bx-braille:before {
    content: "\ec61";
}

.bx-brain:before {
    content: "\ec62";
}

.bx-briefcase:before {
    content: "\ec63";
}

.bx-briefcase-alt:before {
    content: "\ec64";
}

.bx-briefcase-alt-2:before {
    content: "\ec65";
}

.bx-brightness:before {
    content: "\ec66";
}

.bx-brightness-half:before {
    content: "\ec67";
}

.bx-broadcast:before {
    content: "\ec68";
}

.bx-brush:before {
    content: "\ec69";
}

.bx-brush-alt:before {
    content: "\ec6a";
}

.bx-bug:before {
    content: "\ec6b";
}

.bx-bug-alt:before {
    content: "\ec6c";
}

.bx-building:before {
    content: "\ec6d";
}

.bx-building-house:before {
    content: "\ec6e";
}

.bx-buildings:before {
    content: "\ec6f";
}

.bx-bulb:before {
    content: "\ec70";
}

.bx-bullseye:before {
    content: "\ec71";
}

.bx-buoy:before {
    content: "\ec72";
}

.bx-bus:before {
    content: "\ec73";
}

.bx-bus-school:before {
    content: "\ec74";
}

.bx-cabinet:before {
    content: "\ec75";
}

.bx-cake:before {
    content: "\ec76";
}

.bx-calculator:before {
    content: "\ec77";
}

.bx-calendar:before {
    content: "\ec78";
}

.bx-calendar-alt:before {
    content: "\ec79";
}

.bx-calendar-check:before {
    content: "\ec7a";
}

.bx-calendar-edit:before {
    content: "\ec7b";
}

.bx-calendar-event:before {
    content: "\ec7c";
}

.bx-calendar-exclamation:before {
    content: "\ec7d";
}

.bx-calendar-heart:before {
    content: "\ec7e";
}

.bx-calendar-minus:before {
    content: "\ec7f";
}

.bx-calendar-plus:before {
    content: "\ec80";
}

.bx-calendar-star:before {
    content: "\ec81";
}

.bx-calendar-week:before {
    content: "\ec82";
}

.bx-calendar-x:before {
    content: "\ec83";
}

.bx-camera:before {
    content: "\ec84";
}

.bx-camera-home:before {
    content: "\ec85";
}

.bx-camera-movie:before {
    content: "\ec86";
}

.bx-camera-off:before {
    content: "\ec87";
}

.bx-capsule:before {
    content: "\ec88";
}

.bx-captions:before {
    content: "\ec89";
}

.bx-car:before {
    content: "\ec8a";
}

.bx-card:before {
    content: "\ec8b";
}

.bx-caret-down:before {
    content: "\ec8c";
}

.bx-caret-down-circle:before {
    content: "\ec8d";
}

.bx-caret-down-square:before {
    content: "\ec8e";
}

.bx-caret-left:before {
    content: "\ec8f";
}

.bx-caret-left-circle:before {
    content: "\ec90";
}

.bx-caret-left-square:before {
    content: "\ec91";
}

.bx-caret-right:before {
    content: "\ec92";
}

.bx-caret-right-circle:before {
    content: "\ec93";
}

.bx-caret-right-square:before {
    content: "\ec94";
}

.bx-caret-up:before {
    content: "\ec95";
}

.bx-caret-up-circle:before {
    content: "\ec96";
}

.bx-caret-up-square:before {
    content: "\ec97";
}

.bx-carousel:before {
    content: "\ec98";
}

.bx-cart:before {
    content: "\ec99";
}

.bx-cart-alt:before {
    content: "\ec9a";
}

.bx-cast:before {
    content: "\ec9b";
}

.bx-category:before {
    content: "\ec9c";
}

.bx-category-alt:before {
    content: "\ec9d";
}

.bx-cctv:before {
    content: "\ec9e";
}

.bx-certification:before {
    content: "\ec9f";
}

.bx-chair:before {
    content: "\eca0";
}

.bx-chalkboard:before {
    content: "\eca1";
}

.bx-chart:before {
    content: "\eca2";
}

.bx-chat:before {
    content: "\eca3";
}

.bx-check:before {
    content: "\eca4";
}

.bx-checkbox:before {
    content: "\eca5";
}

.bx-checkbox-checked:before {
    content: "\eca6";
}

.bx-checkbox-minus:before {
    content: "\eca7";
}

.bx-checkbox-square:before {
    content: "\eca8";
}

.bx-check-circle:before {
    content: "\eca9";
}

.bx-check-double:before {
    content: "\ecaa";
}

.bx-check-shield:before {
    content: "\ecab";
}

.bx-check-square:before {
    content: "\ecac";
}

.bx-chevron-down:before {
    content: "\ecad";
}

.bx-chevron-down-circle:before {
    content: "\ecae";
}

.bx-chevron-down-square:before {
    content: "\ecaf";
}

.bx-chevron-left:before {
    content: "\ecb0";
}

.bx-chevron-left-circle:before {
    content: "\ecb1";
}

.bx-chevron-left-square:before {
    content: "\ecb2";
}

.bx-chevron-right:before {
    content: "\ecb3";
}

.bx-chevron-right-circle:before {
    content: "\ecb4";
}

.bx-chevron-right-square:before {
    content: "\ecb5";
}

.bx-chevrons-down:before {
    content: "\ecb6";
}

.bx-chevrons-left:before {
    content: "\ecb7";
}

.bx-chevrons-right:before {
    content: "\ecb8";
}

.bx-chevrons-up:before {
    content: "\ecb9";
}

.bx-chevron-up:before {
    content: "\ecba";
}

.bx-chevron-up-circle:before {
    content: "\ecbb";
}

.bx-chevron-up-square:before {
    content: "\ecbc";
}

.bx-chip:before {
    content: "\ecbd";
}

.bx-church:before {
    content: "\ecbe";
}

.bx-circle:before {
    content: "\ecbf";
}

.bx-clinic:before {
    content: "\ecc0";
}

.bx-clipboard:before {
    content: "\ecc1";
}

.bx-closet:before {
    content: "\ecc2";
}

.bx-cloud:before {
    content: "\ecc3";
}

.bx-cloud-download:before {
    content: "\ecc4";
}

.bx-cloud-drizzle:before {
    content: "\ecc5";
}

.bx-cloud-lightning:before {
    content: "\ecc6";
}

.bx-cloud-light-rain:before {
    content: "\ecc7";
}

.bx-cloud-rain:before {
    content: "\ecc8";
}

.bx-cloud-snow:before {
    content: "\ecc9";
}

.bx-cloud-upload:before {
    content: "\ecca";
}

.bx-code:before {
    content: "\eccb";
}

.bx-code-alt:before {
    content: "\eccc";
}

.bx-code-block:before {
    content: "\eccd";
}

.bx-code-curly:before {
    content: "\ecce";
}

.bx-coffee:before {
    content: "\eccf";
}

.bx-coffee-togo:before {
    content: "\ecd0";
}

.bx-cog:before {
    content: "\ecd1";
}

.bx-coin:before {
    content: "\ecd2";
}

.bx-coin-stack:before {
    content: "\ecd3";
}

.bx-collapse:before {
    content: "\ecd4";
}

.bx-collection:before {
    content: "\ecd5";
}

.bx-color-fill:before {
    content: "\ecd6";
}

.bx-columns:before {
    content: "\ecd7";
}

.bx-command:before {
    content: "\ecd8";
}

.bx-comment:before {
    content: "\ecd9";
}

.bx-comment-add:before {
    content: "\ecda";
}

.bx-comment-check:before {
    content: "\ecdb";
}

.bx-comment-detail:before {
    content: "\ecdc";
}

.bx-comment-dots:before {
    content: "\ecdd";
}

.bx-comment-edit:before {
    content: "\ecde";
}

.bx-comment-error:before {
    content: "\ecdf";
}

.bx-comment-minus:before {
    content: "\ece0";
}

.bx-comment-x:before {
    content: "\ece1";
}

.bx-compass:before {
    content: "\ece2";
}

.bx-confused:before {
    content: "\ece3";
}

.bx-conversation:before {
    content: "\ece4";
}

.bx-cookie:before {
    content: "\ece5";
}

.bx-cool:before {
    content: "\ece6";
}

.bx-copy:before {
    content: "\ece7";
}

.bx-copy-alt:before {
    content: "\ece8";
}

.bx-copyright:before {
    content: "\ece9";
}

.bx-credit-card:before {
    content: "\ecea";
}

.bx-credit-card-alt:before {
    content: "\eceb";
}

.bx-credit-card-front:before {
    content: "\ecec";
}

.bx-crop:before {
    content: "\eced";
}

.bx-crosshair:before {
    content: "\ecee";
}

.bx-crown:before {
    content: "\ecef";
}

.bx-cube:before {
    content: "\ecf0";
}

.bx-cube-alt:before {
    content: "\ecf1";
}

.bx-cuboid:before {
    content: "\ecf2";
}

.bx-current-location:before {
    content: "\ecf3";
}

.bx-customize:before {
    content: "\ecf4";
}

.bx-cut:before {
    content: "\ecf5";
}

.bx-cycling:before {
    content: "\ecf6";
}

.bx-cylinder:before {
    content: "\ecf7";
}

.bx-data:before {
    content: "\ecf8";
}

.bx-desktop:before {
    content: "\ecf9";
}

.bx-detail:before {
    content: "\ecfa";
}

.bx-devices:before {
    content: "\ecfb";
}

.bx-dialpad:before {
    content: "\ecfc";
}

.bx-dialpad-alt:before {
    content: "\ecfd";
}

.bx-diamond:before {
    content: "\ecfe";
}

.bx-dice-1:before {
    content: "\ecff";
}

.bx-dice-2:before {
    content: "\ed00";
}

.bx-dice-3:before {
    content: "\ed01";
}

.bx-dice-4:before {
    content: "\ed02";
}

.bx-dice-5:before {
    content: "\ed03";
}

.bx-dice-6:before {
    content: "\ed04";
}

.bx-directions:before {
    content: "\ed05";
}

.bx-disc:before {
    content: "\ed06";
}

.bx-dish:before {
    content: "\ed07";
}

.bx-dislike:before {
    content: "\ed08";
}

.bx-dizzy:before {
    content: "\ed09";
}

.bx-dna:before {
    content: "\ed0a";
}

.bx-dock-bottom:before {
    content: "\ed0b";
}

.bx-dock-left:before {
    content: "\ed0c";
}

.bx-dock-right:before {
    content: "\ed0d";
}

.bx-dock-top:before {
    content: "\ed0e";
}

.bx-dollar:before {
    content: "\ed0f";
}

.bx-dollar-circle:before {
    content: "\ed10";
}

.bx-donate-blood:before {
    content: "\ed11";
}

.bx-donate-heart:before {
    content: "\ed12";
}

.bx-door-open:before {
    content: "\ed13";
}

.bx-dots-horizontal:before {
    content: "\ed14";
}

.bx-dots-horizontal-rounded:before {
    content: "\ed15";
}

.bx-dots-vertical:before {
    content: "\ed16";
}

.bx-dots-vertical-rounded:before {
    content: "\ed17";
}

.bx-doughnut-chart:before {
    content: "\ed18";
}

.bx-down-arrow:before {
    content: "\ed19";
}

.bx-down-arrow-alt:before {
    content: "\ed1a";
}

.bx-down-arrow-circle:before {
    content: "\ed1b";
}

.bx-download:before {
    content: "\ed1c";
}

.bx-downvote:before {
    content: "\ed1d";
}

.bx-drink:before {
    content: "\ed1e";
}

.bx-droplet:before {
    content: "\ed1f";
}

.bx-dumbbell:before {
    content: "\ed20";
}

.bx-duplicate:before {
    content: "\ed21";
}

.bx-edit:before {
    content: "\ed22";
}

.bx-edit-alt:before {
    content: "\ed23";
}

.bx-envelope:before {
    content: "\ed24";
}

.bx-envelope-open:before {
    content: "\ed25";
}

.bx-equalizer:before {
    content: "\ed26";
}

.bx-eraser:before {
    content: "\ed27";
}

.bx-error:before {
    content: "\ed28";
}

.bx-error-alt:before {
    content: "\ed29";
}

.bx-error-circle:before {
    content: "\ed2a";
}

.bx-euro:before {
    content: "\ed2b";
}

.bx-exclude:before {
    content: "\ed2c";
}

.bx-exit:before {
    content: "\ed2d";
}

.bx-exit-fullscreen:before {
    content: "\ed2e";
}

.bx-expand:before {
    content: "\ed2f";
}

.bx-expand-alt:before {
    content: "\ed30";
}

.bx-export:before {
    content: "\ed31";
}

.bx-extension:before {
    content: "\ed32";
}

.bx-face:before {
    content: "\ed33";
}

.bx-fast-forward:before {
    content: "\ed34";
}

.bx-fast-forward-circle:before {
    content: "\ed35";
}

.bx-female:before {
    content: "\ed36";
}

.bx-female-sign:before {
    content: "\ed37";
}

.bx-file:before {
    content: "\ed38";
}

.bx-file-blank:before {
    content: "\ed39";
}

.bx-file-find:before {
    content: "\ed3a";
}

.bx-film:before {
    content: "\ed3b";
}

.bx-filter:before {
    content: "\ed3c";
}

.bx-filter-alt:before {
    content: "\ed3d";
}

.bx-fingerprint:before {
    content: "\ed3e";
}

.bx-first-aid:before {
    content: "\ed3f";
}

.bx-first-page:before {
    content: "\ed40";
}

.bx-flag:before {
    content: "\ed41";
}

.bx-folder:before {
    content: "\ed42";
}

.bx-folder-minus:before {
    content: "\ed43";
}

.bx-folder-open:before {
    content: "\ed44";
}

.bx-folder-plus:before {
    content: "\ed45";
}

.bx-font:before {
    content: "\ed46";
}

.bx-font-color:before {
    content: "\ed47";
}

.bx-font-family:before {
    content: "\ed48";
}

.bx-font-size:before {
    content: "\ed49";
}

.bx-food-menu:before {
    content: "\ed4a";
}

.bx-food-tag:before {
    content: "\ed4b";
}

.bx-football:before {
    content: "\ed4c";
}

.bx-fridge:before {
    content: "\ed4d";
}

.bx-fullscreen:before {
    content: "\ed4e";
}

.bx-game:before {
    content: "\ed4f";
}

.bx-gas-pump:before {
    content: "\ed50";
}

.bx-ghost:before {
    content: "\ed51";
}

.bx-gift:before {
    content: "\ed52";
}

.bx-git-branch:before {
    content: "\ed53";
}

.bx-git-commit:before {
    content: "\ed54";
}

.bx-git-compare:before {
    content: "\ed55";
}

.bx-git-merge:before {
    content: "\ed56";
}

.bx-git-pull-request:before {
    content: "\ed57";
}

.bx-git-repo-forked:before {
    content: "\ed58";
}

.bx-glasses:before {
    content: "\ed59";
}

.bx-glasses-alt:before {
    content: "\ed5a";
}

.bx-globe:before {
    content: "\ed5b";
}

.bx-globe-alt:before {
    content: "\ed5c";
}

.bx-grid:before {
    content: "\ed5d";
}

.bx-grid-alt:before {
    content: "\ed5e";
}

.bx-grid-horizontal:before {
    content: "\ed5f";
}

.bx-grid-small:before {
    content: "\ed60";
}

.bx-grid-vertical:before {
    content: "\ed61";
}

.bx-group:before {
    content: "\ed62";
}

.bx-handicap:before {
    content: "\ed63";
}

.bx-happy:before {
    content: "\ed64";
}

.bx-happy-alt:before {
    content: "\ed65";
}

.bx-happy-beaming:before {
    content: "\ed66";
}

.bx-happy-heart-eyes:before {
    content: "\ed67";
}

.bx-hash:before {
    content: "\ed68";
}

.bx-hdd:before {
    content: "\ed69";
}

.bx-heading:before {
    content: "\ed6a";
}

.bx-headphone:before {
    content: "\ed6b";
}

.bx-health:before {
    content: "\ed6c";
}

.bx-heart:before {
    content: "\ed6d";
}

.bx-heart-circle:before {
    content: "\ed6e";
}

.bx-heart-square:before {
    content: "\ed6f";
}

.bx-help-circle:before {
    content: "\ed70";
}

.bx-hide:before {
    content: "\ed71";
}

.bx-highlight:before {
    content: "\ed72";
}

.bx-history:before {
    content: "\ed73";
}

.bx-hive:before {
    content: "\ed74";
}

.bx-home:before {
    content: "\ed75";
}

.bx-home-alt:before {
    content: "\ed76";
}

.bx-home-circle:before {
    content: "\ed77";
}

.bx-home-heart:before {
    content: "\ed78";
}

.bx-home-smile:before {
    content: "\ed79";
}

.bx-horizontal-center:before {
    content: "\ed7a";
}

.bx-hotel:before {
    content: "\ed7b";
}

.bx-hourglass:before {
    content: "\ed7c";
}

.bx-id-card:before {
    content: "\ed7d";
}

.bx-image:before {
    content: "\ed7e";
}

.bx-image-add:before {
    content: "\ed7f";
}

.bx-image-alt:before {
    content: "\ed80";
}

.bx-images:before {
    content: "\ed81";
}

.bx-import:before {
    content: "\ed82";
}

.bx-infinite:before {
    content: "\ed83";
}

.bx-info-circle:before {
    content: "\ed84";
}

.bx-info-square:before {
    content: "\ed85";
}

.bx-intersect:before {
    content: "\ed86";
}

.bx-italic:before {
    content: "\ed87";
}

.bx-joystick:before {
    content: "\ed88";
}

.bx-joystick-alt:before {
    content: "\ed89";
}

.bx-joystick-button:before {
    content: "\ed8a";
}

.bx-key:before {
    content: "\ed8b";
}

.bx-label:before {
    content: "\ed8c";
}

.bx-landscape:before {
    content: "\ed8d";
}

.bx-laptop:before {
    content: "\ed8e";
}

.bx-last-page:before {
    content: "\ed8f";
}

.bx-laugh:before {
    content: "\ed90";
}

.bx-layer:before {
    content: "\ed91";
}

.bx-layer-minus:before {
    content: "\ed92";
}

.bx-layer-plus:before {
    content: "\ed93";
}

.bx-layout:before {
    content: "\ed94";
}

.bx-left-arrow:before {
    content: "\ed95";
}

.bx-left-arrow-alt:before {
    content: "\ed96";
}

.bx-left-arrow-circle:before {
    content: "\ed97";
}

.bx-left-down-arrow-circle:before {
    content: "\ed98";
}

.bx-left-indent:before {
    content: "\ed99";
}

.bx-left-top-arrow-circle:before {
    content: "\ed9a";
}

.bx-library:before {
    content: "\ed9b";
}

.bx-like:before {
    content: "\ed9c";
}

.bx-line-chart:before {
    content: "\ed9d";
}

.bx-line-chart-down:before {
    content: "\ed9e";
}

.bx-link:before {
    content: "\ed9f";
}

.bx-link-alt:before {
    content: "\eda0";
}

.bx-link-external:before {
    content: "\eda1";
}

.bx-lira:before {
    content: "\eda2";
}

.bx-list-check:before {
    content: "\eda3";
}

.bx-list-minus:before {
    content: "\eda4";
}

.bx-list-ol:before {
    content: "\eda5";
}

.bx-list-plus:before {
    content: "\eda6";
}

.bx-list-ul:before {
    content: "\eda7";
}

.bx-loader:before {
    content: "\eda8";
}

.bx-loader-alt:before {
    content: "\eda9";
}

.bx-loader-circle:before {
    content: "\edaa";
}

.bx-location-plus:before {
    content: "\edab";
}

.bx-lock:before {
    content: "\edac";
}

.bx-lock-alt:before {
    content: "\edad";
}

.bx-lock-open:before {
    content: "\edae";
}

.bx-lock-open-alt:before {
    content: "\edaf";
}

.bx-log-in:before {
    content: "\edb0";
}

.bx-log-in-circle:before {
    content: "\edb1";
}

.bx-log-out:before {
    content: "\edb2";
}

.bx-log-out-circle:before {
    content: "\edb3";
}

.bx-low-vision:before {
    content: "\edb4";
}

.bx-magnet:before {
    content: "\edb5";
}

.bx-mail-send:before {
    content: "\edb6";
}

.bx-male:before {
    content: "\edb7";
}

.bx-male-sign:before {
    content: "\edb8";
}

.bx-map:before {
    content: "\edb9";
}

.bx-map-alt:before {
    content: "\edba";
}

.bx-map-pin:before {
    content: "\edbb";
}

.bx-mask:before {
    content: "\edbc";
}

.bx-medal:before {
    content: "\edbd";
}

.bx-meh:before {
    content: "\edbe";
}

.bx-meh-alt:before {
    content: "\edbf";
}

.bx-meh-blank:before {
    content: "\edc0";
}

.bx-memory-card:before {
    content: "\edc1";
}

.bx-menu:before {
    content: "\edc2";
}

.bx-menu-alt-left:before {
    content: "\edc3";
}

.bx-menu-alt-right:before {
    content: "\edc4";
}

.bx-merge:before {
    content: "\edc5";
}

.bx-message:before {
    content: "\edc6";
}

.bx-message-add:before {
    content: "\edc7";
}

.bx-message-alt:before {
    content: "\edc8";
}

.bx-message-alt-add:before {
    content: "\edc9";
}

.bx-message-alt-check:before {
    content: "\edca";
}

.bx-message-alt-detail:before {
    content: "\edcb";
}

.bx-message-alt-dots:before {
    content: "\edcc";
}

.bx-message-alt-edit:before {
    content: "\edcd";
}

.bx-message-alt-error:before {
    content: "\edce";
}

.bx-message-alt-minus:before {
    content: "\edcf";
}

.bx-message-alt-x:before {
    content: "\edd0";
}

.bx-message-check:before {
    content: "\edd1";
}

.bx-message-detail:before {
    content: "\edd2";
}

.bx-message-dots:before {
    content: "\edd3";
}

.bx-message-edit:before {
    content: "\edd4";
}

.bx-message-error:before {
    content: "\edd5";
}

.bx-message-minus:before {
    content: "\edd6";
}

.bx-message-rounded:before {
    content: "\edd7";
}

.bx-message-rounded-add:before {
    content: "\edd8";
}

.bx-message-rounded-check:before {
    content: "\edd9";
}

.bx-message-rounded-detail:before {
    content: "\edda";
}

.bx-message-rounded-dots:before {
    content: "\eddb";
}

.bx-message-rounded-edit:before {
    content: "\eddc";
}

.bx-message-rounded-error:before {
    content: "\eddd";
}

.bx-message-rounded-minus:before {
    content: "\edde";
}

.bx-message-rounded-x:before {
    content: "\eddf";
}

.bx-message-square:before {
    content: "\ede0";
}

.bx-message-square-add:before {
    content: "\ede1";
}

.bx-message-square-check:before {
    content: "\ede2";
}

.bx-message-square-detail:before {
    content: "\ede3";
}

.bx-message-square-dots:before {
    content: "\ede4";
}

.bx-message-square-edit:before {
    content: "\ede5";
}

.bx-message-square-error:before {
    content: "\ede6";
}

.bx-message-square-minus:before {
    content: "\ede7";
}

.bx-message-square-x:before {
    content: "\ede8";
}

.bx-message-x:before {
    content: "\ede9";
}

.bx-meteor:before {
    content: "\edea";
}

.bx-microchip:before {
    content: "\edeb";
}

.bx-microphone:before {
    content: "\edec";
}

.bx-microphone-off:before {
    content: "\eded";
}

.bx-minus:before {
    content: "\edee";
}

.bx-minus-back:before {
    content: "\edef";
}

.bx-minus-circle:before {
    content: "\edf0";
}

.bx-minus-front:before {
    content: "\edf1";
}

.bx-mobile:before {
    content: "\edf2";
}

.bx-mobile-alt:before {
    content: "\edf3";
}

.bx-mobile-landscape:before {
    content: "\edf4";
}

.bx-mobile-vibration:before {
    content: "\edf5";
}

.bx-money:before {
    content: "\edf6";
}

.bx-moon:before {
    content: "\edf7";
}

.bx-mouse:before {
    content: "\edf8";
}

.bx-mouse-alt:before {
    content: "\edf9";
}

.bx-move:before {
    content: "\edfa";
}

.bx-move-horizontal:before {
    content: "\edfb";
}

.bx-move-vertical:before {
    content: "\edfc";
}

.bx-movie:before {
    content: "\edfd";
}

.bx-movie-play:before {
    content: "\edfe";
}

.bx-music:before {
    content: "\edff";
}

.bx-navigation:before {
    content: "\ee00";
}

.bx-network-chart:before {
    content: "\ee01";
}

.bx-news:before {
    content: "\ee02";
}

.bx-no-entry:before {
    content: "\ee03";
}

.bx-note:before {
    content: "\ee04";
}

.bx-notepad:before {
    content: "\ee05";
}

.bx-notification:before {
    content: "\ee06";
}

.bx-notification-off:before {
    content: "\ee07";
}

.bx-outline:before {
    content: "\ee08";
}

.bx-package:before {
    content: "\ee09";
}

.bx-paint:before {
    content: "\ee0a";
}

.bx-paint-roll:before {
    content: "\ee0b";
}

.bx-palette:before {
    content: "\ee0c";
}

.bx-paperclip:before {
    content: "\ee0d";
}

.bx-paper-plane:before {
    content: "\ee0e";
}

.bx-paragraph:before {
    content: "\ee0f";
}

.bx-paste:before {
    content: "\ee10";
}

.bx-pause:before {
    content: "\ee11";
}

.bx-pause-circle:before {
    content: "\ee12";
}

.bx-pen:before {
    content: "\ee13";
}

.bx-pencil:before {
    content: "\ee14";
}

.bx-phone:before {
    content: "\ee15";
}

.bx-phone-call:before {
    content: "\ee16";
}

.bx-phone-incoming:before {
    content: "\ee17";
}

.bx-phone-off:before {
    content: "\ee18";
}

.bx-phone-outgoing:before {
    content: "\ee19";
}

.bx-photo-album:before {
    content: "\ee1a";
}

.bx-pie-chart:before {
    content: "\ee1b";
}

.bx-pie-chart-alt:before {
    content: "\ee1c";
}

.bx-pie-chart-alt-2:before {
    content: "\ee1d";
}

.bx-pin:before {
    content: "\ee1e";
}

.bx-planet:before {
    content: "\ee1f";
}

.bx-play:before {
    content: "\ee20";
}

.bx-play-circle:before {
    content: "\ee21";
}

.bx-plug:before {
    content: "\ee22";
}

.bx-plus:before {
    content: "\ee23";
}

.bx-plus-circle:before {
    content: "\ee24";
}

.bx-plus-medical:before {
    content: "\ee25";
}

.bx-podcast:before {
    content: "\ee26";
}

.bx-pointer:before {
    content: "\ee27";
}

.bx-poll:before {
    content: "\ee28";
}

.bx-polygon:before {
    content: "\ee29";
}

.bx-pound:before {
    content: "\ee2a";
}

.bx-power-off:before {
    content: "\ee2b";
}

.bx-printer:before {
    content: "\ee2c";
}

.bx-pulse:before {
    content: "\ee2d";
}

.bx-purchase-tag:before {
    content: "\ee2e";
}

.bx-purchase-tag-alt:before {
    content: "\ee2f";
}

.bx-pyramid:before {
    content: "\ee30";
}

.bx-qr:before {
    content: "\ee31";
}

.bx-qr-scan:before {
    content: "\ee32";
}

.bx-question-mark:before {
    content: "\ee33";
}

.bx-radar:before {
    content: "\ee34";
}

.bx-radio:before {
    content: "\ee35";
}

.bx-radio-circle:before {
    content: "\ee36";
}

.bx-radio-circle-marked:before {
    content: "\ee37";
}

.bx-receipt:before {
    content: "\ee38";
}

.bx-rectangle:before {
    content: "\ee39";
}

.bx-recycle:before {
    content: "\ee3a";
}

.bx-redo:before {
    content: "\ee3b";
}

.bx-refresh:before {
    content: "\ee3c";
}

.bx-registered:before {
    content: "\ee3d";
}

.bx-rename:before {
    content: "\ee3e";
}

.bx-repeat:before {
    content: "\ee3f";
}

.bx-reply:before {
    content: "\ee40";
}

.bx-reply-all:before {
    content: "\ee41";
}

.bx-repost:before {
    content: "\ee42";
}

.bx-reset:before {
    content: "\ee43";
}

.bx-restaurant:before {
    content: "\ee44";
}

.bx-revision:before {
    content: "\ee45";
}

.bx-rewind:before {
    content: "\ee46";
}

.bx-rewind-circle:before {
    content: "\ee47";
}

.bx-right-arrow:before {
    content: "\ee48";
}

.bx-right-arrow-alt:before {
    content: "\ee49";
}

.bx-right-arrow-circle:before {
    content: "\ee4a";
}

.bx-right-down-arrow-circle:before {
    content: "\ee4b";
}

.bx-right-indent:before {
    content: "\ee4c";
}

.bx-right-top-arrow-circle:before {
    content: "\ee4d";
}

.bx-rocket:before {
    content: "\ee4e";
}

.bx-rotate-left:before {
    content: "\ee4f";
}

.bx-rotate-right:before {
    content: "\ee50";
}

.bx-rss:before {
    content: "\ee51";
}

.bx-ruble:before {
    content: "\ee52";
}

.bx-ruler:before {
    content: "\ee53";
}

.bx-run:before {
    content: "\ee54";
}

.bx-rupee:before {
    content: "\ee55";
}

.bx-sad:before {
    content: "\ee56";
}

.bx-save:before {
    content: "\ee57";
}

.bx-scan:before {
    content: "\ee58";
}

.bx-screenshot:before {
    content: "\ee59";
}

.bx-search:before {
    content: "\ee5a";
}

.bx-search-alt:before {
    content: "\ee5b";
}

.bx-search-alt-2:before {
    content: "\ee5c";
}

.bx-selection:before {
    content: "\ee5d";
}

.bx-select-multiple:before {
    content: "\ee5e";
}

.bx-send:before {
    content: "\ee5f";
}

.bx-server:before {
    content: "\ee60";
}

.bx-shape-circle:before {
    content: "\ee61";
}

.bx-shape-polygon:before {
    content: "\ee62";
}

.bx-shape-square:before {
    content: "\ee63";
}

.bx-shape-triangle:before {
    content: "\ee64";
}

.bx-share:before {
    content: "\ee65";
}

.bx-share-alt:before {
    content: "\ee66";
}

.bx-shekel:before {
    content: "\ee67";
}

.bx-shield:before {
    content: "\ee68";
}

.bx-shield-alt:before {
    content: "\ee69";
}

.bx-shield-alt-2:before {
    content: "\ee6a";
}

.bx-shield-quarter:before {
    content: "\ee6b";
}

.bx-shield-x:before {
    content: "\ee6c";
}

.bx-shocked:before {
    content: "\ee6d";
}

.bx-shopping-bag:before {
    content: "\ee6e";
}

.bx-show:before {
    content: "\ee6f";
}

.bx-show-alt:before {
    content: "\ee70";
}

.bx-shuffle:before {
    content: "\ee71";
}

.bx-sidebar:before {
    content: "\ee72";
}

.bx-sitemap:before {
    content: "\ee73";
}

.bx-skip-next:before {
    content: "\ee74";
}

.bx-skip-next-circle:before {
    content: "\ee75";
}

.bx-skip-previous:before {
    content: "\ee76";
}

.bx-skip-previous-circle:before {
    content: "\ee77";
}

.bx-sleepy:before {
    content: "\ee78";
}

.bx-slider:before {
    content: "\ee79";
}

.bx-slider-alt:before {
    content: "\ee7a";
}

.bx-slideshow:before {
    content: "\ee7b";
}

.bx-smile:before {
    content: "\ee7c";
}

.bx-sort:before {
    content: "\ee7d";
}

.bx-sort-alt-2:before {
    content: "\ee7e";
}

.bx-sort-a-z:before {
    content: "\ee7f";
}

.bx-sort-down:before {
    content: "\ee80";
}

.bx-sort-up:before {
    content: "\ee81";
}

.bx-sort-z-a:before {
    content: "\ee82";
}

.bx-spa:before {
    content: "\ee83";
}

.bx-space-bar:before {
    content: "\ee84";
}

.bx-speaker:before {
    content: "\ee85";
}

.bx-spray-can:before {
    content: "\ee86";
}

.bx-spreadsheet:before {
    content: "\ee87";
}

.bx-square:before {
    content: "\ee88";
}

.bx-square-rounded:before {
    content: "\ee89";
}

.bx-star:before {
    content: "\ee8a";
}

.bx-station:before {
    content: "\ee8b";
}

.bx-stats:before {
    content: "\ee8c";
}

.bx-sticker:before {
    content: "\ee8d";
}

.bx-stop:before {
    content: "\ee8e";
}

.bx-stop-circle:before {
    content: "\ee8f";
}

.bx-stopwatch:before {
    content: "\ee90";
}

.bx-store:before {
    content: "\ee91";
}

.bx-store-alt:before {
    content: "\ee92";
}

.bx-street-view:before {
    content: "\ee93";
}

.bx-strikethrough:before {
    content: "\ee94";
}

.bx-subdirectory-left:before {
    content: "\ee95";
}

.bx-subdirectory-right:before {
    content: "\ee96";
}

.bx-sun:before {
    content: "\ee97";
}

.bx-support:before {
    content: "\ee98";
}

.bx-swim:before {
    content: "\ee99";
}

.bx-sync:before {
    content: "\ee9a";
}

.bx-tab:before {
    content: "\ee9b";
}

.bx-table:before {
    content: "\ee9c";
}

.bx-tachometer:before {
    content: "\ee9d";
}

.bx-tag:before {
    content: "\ee9e";
}

.bx-tag-alt:before {
    content: "\ee9f";
}

.bx-target-lock:before {
    content: "\eea0";
}

.bx-task:before {
    content: "\eea1";
}

.bx-task-x:before {
    content: "\eea2";
}

.bx-taxi:before {
    content: "\eea3";
}

.bx-tennis-ball:before {
    content: "\eea4";
}

.bx-terminal:before {
    content: "\eea5";
}

.bx-test-tube:before {
    content: "\eea6";
}

.bx-text:before {
    content: "\eea7";
}

.bx-time:before {
    content: "\eea8";
}

.bx-time-five:before {
    content: "\eea9";
}

.bx-timer:before {
    content: "\eeaa";
}

.bx-tired:before {
    content: "\eeab";
}

.bx-toggle-left:before {
    content: "\eeac";
}

.bx-toggle-right:before {
    content: "\eead";
}

.bx-tone:before {
    content: "\eeae";
}

.bx-traffic-cone:before {
    content: "\eeaf";
}

.bx-train:before {
    content: "\eeb0";
}

.bx-transfer:before {
    content: "\eeb1";
}

.bx-transfer-alt:before {
    content: "\eeb2";
}

.bx-trash:before {
    content: "\eeb3";
}

.bx-trash-alt:before {
    content: "\eeb4";
}

.bx-trending-down:before {
    content: "\eeb5";
}

.bx-trending-up:before {
    content: "\eeb6";
}

.bx-trim:before {
    content: "\eeb7";
}

.bx-trip:before {
    content: "\eeb8";
}

.bx-trophy:before {
    content: "\eeb9";
}

.bx-tv:before {
    content: "\eeba";
}

.bx-underline:before {
    content: "\eebb";
}

.bx-undo:before {
    content: "\eebc";
}

.bx-unite:before {
    content: "\eebd";
}

.bx-unlink:before {
    content: "\eebe";
}

.bx-up-arrow:before {
    content: "\eebf";
}

.bx-up-arrow-alt:before {
    content: "\eec0";
}

.bx-up-arrow-circle:before {
    content: "\eec1";
}

.bx-upload:before {
    content: "\eec2";
}

.bx-upside-down:before {
    content: "\eec3";
}

.bx-upvote:before {
    content: "\eec4";
}

.bx-usb:before {
    content: "\eec5";
}

.bx-user:before {
    content: "\eec6";
}

.bx-user-check:before {
    content: "\eec7";
}

.bx-user-circle:before {
    content: "\eec8";
}

.bx-user-minus:before {
    content: "\eec9";
}

.bx-user-pin:before {
    content: "\eeca";
}

.bx-user-plus:before {
    content: "\eecb";
}

.bx-user-voice:before {
    content: "\eecc";
}

.bx-user-x:before {
    content: "\eecd";
}

.bx-vector:before {
    content: "\eece";
}

.bx-vertical-center:before {
    content: "\eecf";
}

.bx-vial:before {
    content: "\eed0";
}

.bx-video:before {
    content: "\eed1";
}

.bx-video-off:before {
    content: "\eed2";
}

.bx-video-plus:before {
    content: "\eed3";
}

.bx-video-recording:before {
    content: "\eed4";
}

.bx-voicemail:before {
    content: "\eed5";
}

.bx-volume:before {
    content: "\eed6";
}

.bx-volume-full:before {
    content: "\eed7";
}

.bx-volume-low:before {
    content: "\eed8";
}

.bx-volume-mute:before {
    content: "\eed9";
}

.bx-walk:before {
    content: "\eeda";
}

.bx-wallet:before {
    content: "\eedb";
}

.bx-wallet-alt:before {
    content: "\eedc";
}

.bx-water:before {
    content: "\eedd";
}

.bx-webcam:before {
    content: "\eede";
}

.bx-wifi:before {
    content: "\eedf";
}

.bx-wifi-0:before {
    content: "\eee0";
}

.bx-wifi-1:before {
    content: "\eee1";
}

.bx-wifi-2:before {
    content: "\eee2";
}

.bx-wifi-off:before {
    content: "\eee3";
}

.bx-wind:before {
    content: "\eee4";
}

.bx-window:before {
    content: "\eee5";
}

.bx-window-alt:before {
    content: "\eee6";
}

.bx-window-close:before {
    content: "\eee7";
}

.bx-window-open:before {
    content: "\eee8";
}

.bx-windows:before {
    content: "\eee9";
}

.bx-wine:before {
    content: "\eeea";
}

.bx-wink-smile:before {
    content: "\eeeb";
}

.bx-wink-tongue:before {
    content: "\eeec";
}

.bx-won:before {
    content: "\eeed";
}

.bx-world:before {
    content: "\eeee";
}

.bx-wrench:before {
    content: "\eeef";
}

.bx-x:before {
    content: "\eef0";
}

.bx-x-circle:before {
    content: "\eef1";
}

.bx-yen:before {
    content: "\eef2";
}

.bx-zoom-in:before {
    content: "\eef3";
}

.bx-zoom-out:before {
    content: "\eef4";
}

.bx {
    vertical-align: middle;
    font-size: 1.15rem;
    line-height: 1;
}

@font-face {
    font-family: "boxicons";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/boxicons/boxicons.eot");
    src: url("../fonts/boxicons/boxicons.eot") format("embedded-opentype"), url("../fonts/boxicons/boxicons.woff2") format("woff2"), url("../fonts/boxicons/boxicons.woff") format("woff"), url("../fonts/boxicons/boxicons.ttf") format("truetype"), url("../fonts/boxicons/boxicons.svg?#boxicons") format("svg");
}

@media (max-width: 1392px) {
    div#project-tracker-card {
        max-width: 100%;
    }
}

table.dataTable td.dt-control {
    text-align: center;
    cursor: pointer
}

table.dataTable td.dt-control:before {
    height: 1em;
    width: 1em;
    margin-top: -9px;
    display: inline-block;
    color: white;
    border: .15em solid white;
    border-radius: 1em;
    box-shadow: 0 0 .2em #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Courier New", Courier, monospace;
    line-height: 1em;
    content: "+";
    background-color: #31b131
}

table.dataTable tr.dt-hasChild td.dt-control:before {
    content: "-";
    background-color: #d33333
}

table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting_asc_disabled,
table.dataTable thead>tr>th.sorting_desc_disabled,
table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting_asc_disabled,
table.dataTable thead>tr>td.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    padding-right: 26px
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: .125;
    right: 10px;
    line-height: 9px;
    font-size: .8em
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "▲"
}

table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "▼"
}

table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:after {
    opacity: .6
}

table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before {
    display: none
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
    outline: none
}

div.dataTables_scrollBody table.dataTable thead>tr>th:before,
div.dataTables_scrollBody table.dataTable thead>tr>th:after,
div.dataTables_scrollBody table.dataTable thead>tr>td:before,
div.dataTables_scrollBody table.dataTable thead>tr>td:after {
    display: none
}

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 2px
}

div.dataTables_processing>div:last-child {
    position: relative;
    width: 80px;
    height: 15px;
    margin: 1em auto
}

div.dataTables_processing>div:last-child>div {
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(13, 110, 253, 0.9);
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

div.dataTables_processing>div:last-child>div:nth-child(1) {
    left: 8px;
    animation: datatables-loader-1 .6s infinite
}

div.dataTables_processing>div:last-child>div:nth-child(2) {
    left: 8px;
    animation: datatables-loader-2 .6s infinite
}

div.dataTables_processing>div:last-child>div:nth-child(3) {
    left: 32px;
    animation: datatables-loader-2 .6s infinite
}

div.dataTables_processing>div:last-child>div:nth-child(4) {
    left: 56px;
    animation: datatables-loader-3 .6s infinite
}

@keyframes datatables-loader-1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes datatables-loader-3 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes datatables-loader-2 {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(24px, 0)
    }
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
    text-align: left
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
    text-align: center
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
    text-align: right
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
    text-align: justify
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
    white-space: nowrap
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    text-align: left
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
    text-align: left
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
    text-align: center
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
    text-align: right
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
    text-align: justify
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
    text-align: left
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
    text-align: center
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
    text-align: right
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
    text-align: justify
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap
}


/*! Bootstrap 5 integration for DataTables
*
* ©2020 SpryMedia Ltd, all rights reserved.
* License: MIT datatables.net/license/mit
*/

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0
}

table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
    text-align: center
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap
}

table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    box-shadow: none
}

table.dataTable>tbody>tr {
    background-color: transparent
}

table.dataTable>tbody>tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.9);
    color: white
}

table.dataTable>tbody>tr.selected a {
    color: #090a0b
}

table.dataTable.table-striped>tbody>tr.odd>* {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05)
}

table.dataTable.table-striped>tbody>tr.odd.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.95)
}

table.dataTable.table-hover>tbody>tr:hover>* {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.075)
}

table.dataTable.table-hover>tbody>tr.selected:hover>* {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.975)
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: .85em
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end
}

div.dataTables_wrapper div.dt-row {
    position: relative
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important
}

div.dataTables_scrollBody>table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

div.dataTables_scrollBody>table>thead .sorting:before,
div.dataTables_scrollBody>table>thead .sorting_asc:before,
div.dataTables_scrollBody>table>thead .sorting_desc:before,
div.dataTables_scrollBody>table>thead .sorting:after,
div.dataTables_scrollBody>table>thead .sorting_asc:after,
div.dataTables_scrollBody>table>thead .sorting_desc:after {
    display: none
}

div.dataTables_scrollBody>table>tbody tr:first-child th,
div.dataTables_scrollBody>table>tbody tr:first-child td {
    border-top: none
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner {
    box-sizing: content-box
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner>table {
    margin-top: 0 !important;
    border-top: none
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important
    }
}

table.dataTable.table-sm>thead>tr>th:not(.sorting_disabled) {
    padding-right: 20px
}

table.table-bordered.dataTable {
    border-right-width: 0
}

table.table-bordered.dataTable thead tr:first-child th,
table.table-bordered.dataTable thead tr:first-child td {
    border-top-width: 1px
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-left-width: 0
}

table.table-bordered.dataTable th:first-child,
table.table-bordered.dataTable th:first-child,
table.table-bordered.dataTable td:first-child,
table.table-bordered.dataTable td:first-child {
    border-left-width: 1px
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
    border-right-width: 1px
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-bottom-width: 1px
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:first-child {
    padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:last-child {
    padding-right: 0
}

.modal-dialog {
  max-width: 800px;
  width: 100%;
}