{% extends 'defaultkcn/base.html' %}
{% load static %}

{% block content %}
<body>
<div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="Task.html">
                    <span class="align-middle">KCN Communications</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">

                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="dashboard.html">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Sites</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Project</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="TaskView.html">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Task</span>
                        </a>
                    </li>

                </ul>


            </div>
        </nav>

        <!-- Navbar -->

        <div class="main">
            <nav class="navbar navbar-expand-lg border-bottom border-5 border-dark blue px-5 pt-3">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <a class="navbar-brand me-4" id="Logo" href="#">
                    <img src="{% static 'img/logo/KCN-logo.webp' %}" class="img-fluid d-inline-block align-text-top">
                </a>



                <ul class="navbar-nav navbar-align">

                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>

                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            <img src="{% static 'img/avatars/avatar.jpg' %}" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>


            </nav>
            <main class="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light; background-color:blue">
                    <div class="d-flex">
                        <div class="container py-10 mb-50 rounded">
                            <small>
                                <a href="dashboard.html">Dashboard</a>
                                <i class="fa-solid fa-chevron-right px-2"></i>
                                Site
                            </small>
                        </div>
                    </div>
                </nav>
                <br>


                <div class="card">

                    <div class=" p-0">

                        <!-- Site List Card -->
                        <div class="card shadow-sm">

                            <div class="card-header">
                                <i class="align-middle me-2" data-feather="edit"></i>
                                <!-- <i class="fa-solid fa-tower-cell text-light rounded-circle me-1"
									style="padding: 0.4rem 0.4rem; background-color: #A82729;"></i> -->
                                <strong>SITE LIST</strong>
                                <button type="button" class="btn btn-sm btn-success me-1" data-bs-toggle="modal" data-bs-target="#addNewSiteForm" style="float: right;">
									<i class="fa-solid fa-plus"></i>
									Add New Site
								</button>
                            </div>
                            <div class="card-body px-4">
                                <div class="table-responsive text-nowrap">
                                    <table id="report-table" class="table table-hover nowrap">
                                        <thead>
                                            <tr class="text-nowrap">
                                               <th>Site ID</th>
                                                <th>Market</th>
                                                <th>Customer</th>
                                                <th>Site Status</th>
                                                <th>CreatedAt</th>
                                                <th>UpdatedAt</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>CTHA588A</td>
                                                <td>ARI-001</td>
                                                <td>TMO</td>
                                                <td><span class="badge text-bg-warning">Walked</span></td>
                                                <td>TRIAL</td>
                                                <td>TRIAL</td>

                                            </tr>


                                        </tbody>

                                    </table>
                                </div>

                            </div>

                        </div>




                    </div>
                </div>
            </main>
{% endblock %}
</body>
</html>