{% extends 'defaultkcn/base.html' %}
{% load static %}

{% block content %}

    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="Task.html">
                    <span class="align-middle">KCN Communications</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">

                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="dashboard.html">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Sites</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Project</span>
                        </a>
                    </li>
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="TaskView.html">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Task</span>
                        </a>
                    </li>

                </ul>


            </div>
        </nav>

        <!-- Navbar -->

        <div class="main">
            <nav class="navbar navbar-expand-lg border-bottom border-5 border-dark blue px-5 pt-3">

                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <a class="navbar-brand me-4" id="Logo" href="#">
                    <img src="{% static 'img/logo/KCN-logo.webp' %}" class="img-fluid d-inline-block align-text-top">
                </a>



                <ul class="navbar-nav navbar-align">
                    <div class="dropdown">


                <!-- Profile dropdown menu -->
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Login.html">Logout</a></li>
                </ul>
            </div>

                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>

                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            <img src="{% static 'img/avatars/avatar.jpg' %}" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>


            </nav>
            <main class="content">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

                <nav class="navbar navbar-expand-lg navbar-light bg-light; background-color:blue">
                    <div class="d-flex">
                        <div class="container py-10 mb-50 rounded">
                            <small>
                                <a href="dashboard.html">Dashboard</a>
                                <i class="fa-solid fa-chevron-right px-2"></i>
                                Task
                            </small>
                        </div>
                    </div>
                </nav>
                <br>


                <div class="card">

                    <div class=" p-0">

                        <!-- Site List Card -->
                        <div class="card shadow-sm">

                            <div class="card-header">
                                <i class="align-middle me-2" data-feather="edit"></i>
                                <!-- <i class="fa-solid fa-tower-cell text-light rounded-circle me-1"
									style="padding: 0.4rem 0.4rem; background-color: #A82729;"></i> -->
                                <strong>TASK LIST</strong>
                                <button type="button" class="btn btn-sm btn-success me-1" data-toggle="modal" data-target="#exampleModalLong" style="float: right;">
                                    <i class="fa-solid fa-plus"></i>
                                    Add New Site
                                </button>


        <!-- Modal -->
        <div class="modal fade modal-xl" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5">

                                <form class="row" method="post">
                                    {% csrf_token %}
                                    <div class="col-6 mb-3">
                                        <label for="siteId" class="form-label">Task ID</label>
                                        <input type="text" class="form-control" id="taskId" placeholder="Add">
                                        <!-- <input type="text" class="form-control"  aria-describedby=""> -->
                                    </div>
                                    <div class="col-6 mb3">
                                        <label for="market" class="form-label">Market</label>
                                        <input type="text" class="form-control" id="market" placeholder="Add">
                                        <!-- <input type="text" class="form-control" id="market" aria-describedby=""> -->
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="project" class="form-label">Project</label>
                                        <input type="text" class="form-control" id="project" placeholder="Add">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="siteID" class="form-label">Site ID</label>
                                        <input type="text" class="form-control" id="siteId" placeholder="Add">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="description" class="form-label">Activity</label>
                                        <input type="textarea" class="form-control" id="description" aria-describedby="">
                                    </div>

                                    <div class="col-6 mb-3">
                                        <label for="taskStatus" class="form-label">Status</label>
                                        <select class="form-select" id="taskStatus" aria-label="Default select example">
											<option value="1">notyet</option>
											<option value="2">Finished</option>
											<option value="3">Pending</option>
											<option value="4">ongoing</option>
										</select>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="priority" class="form-label">Priority</label>
                                        <select class="form-select" id="priority" aria-label="Default select example">
											<option value="1">High</option>
											<option value="2">Finished</option>
											<option value="3">Pending</option>
											<option value="4">ongoing</option>
										</select>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="customer">Customer:</label>
  <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control" id="customer" name="customer">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
    </div>
  </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="start_date">Start Date:</label>
  <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control" id="start_date" name="start_date">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
    </div>
  </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="end_date">End Date:</label>
  <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control" id="end_date" name="end_date">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
    </div>
  </div>
                                    </div>

                                    <div class="row" style="width: 50%;">
                                        <div class="col-6 mb-3">
                                            <label for="address" class="form-label">Site Address</label>
                                            <input type="textarea" class="form-control" id="address" aria-describedby="">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="city" class="form-label">City</label>
                                            <input type="textarea" class="form-control" id="city" aria-describedby="">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="state" class="form-label">State</label>
                                            <input type="textarea" class="form-control" id="state" aria-describedby="">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="country" class="form-label">Country</label>
                                            <input type="textarea" class="form-control" id="country" aria-describedby="">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="zipCode" class="form-label">Zip Code</label>
                                            <input type="textarea" class="form-control" id="zipCode" aria-describedby="">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="coordinate" class="form-label">Coordinates</label>
                                            <input type="textarea" class="form-control" id="coordinate" aria-describedby="">
                                        </div>
                                    </div>
 <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="action" value="save">Save</button>
            </div>
                                </form>

            </div>

            </div>
        </div>
        </div>
                            </div>
                            <div class="card-body px-4">
                                <div class="table-responsive text-nowrap">
                                    <table id="report-table" class="table table-hover nowrap">
                                        <thead>
                                            <tr class="text-nowrap">
                                                <th>#</th>
                                                <th data-sortable="true" data-sorter="alphanum">Task ID</th>
                                                <th>Market</th>
                                                <th>Project</th>
                                                <th>Site</th>
                                                <th>Activity</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                <th>Team/Crew</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>CreatedAt</th>
                                                <th>UpdatedAt</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for TaskView in tasks %}
                                            <tr>
                                                <th>
                                                    <input class="form-check-input ms-1" type="checkbox" value="" id="CheckItem1">
                                                </th>

                                                <td><a href="/taskdetails">TASK00{{TaskView.id}}</a></td>
                                                <td>Arizona</td>
                                                <td>ARI-001</td>
                                                <td>SVXXXA</td>
                                                <td>{{TaskView.text}}</td>
                                                <td><span class="badge text-bg-success">Finished</span></td>
                                                <td>High</td>
                                                <td>Tiger team</td>
                                                    <td>{{ TaskView.start_date }}</td>
                                                <td>{{ TaskView.end_date }}</td>

                                                <td> {{ TaskView.created_at }}</td>

                                                <td> {{ TaskView.updated_at }}  </td>


                                            </tr>
<!--                                            <tr>-->
<!--                                                <th>-->
<!--                                                    <input class="form-check-input ms-1" type="checkbox" value="" id="CheckItem1">-->
<!--                                                </th>-->
<!--                                                <td><a href="/taskdetails">TASK001</a></td>-->

<!--                                                <td>Arizona</td>-->
<!--                                                <td>ARI-001</td>-->
<!--                                                <td>SVXXXA</td>-->
<!--                                                <td>Checking Material</td>-->
<!--                                                <td><span class="badge text-bg-primary">On Progress</span></td>-->
<!--                                                <td>High</td>-->
<!--                                                <td>Tiger team</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->

<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>-->
<!--                                                    <input class="form-check-input ms-1" type="checkbox" value="" id="CheckItem1">-->
<!--                                                </th>-->
<!--                                                <td>TASK001</td>-->
<!--                                                <td>Arizona</td>-->
<!--                                                <td>ARI-001</td>-->
<!--                                                <td>SVXXXA</td>-->
<!--                                                <td>Installing Equipment</td>-->
<!--                                                <td><span class="badge text-bg-warning">Pending</span></td>-->
<!--                                                <td>High</td>-->
<!--                                                <td>Tiger team</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->
<!--                                                <td>01/26/2023 05:00:01</td>-->

<!--                                            </tr>-->
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                                <!-- Approve button -->
                                <div class="d-flex justify-content-center mt-2">

                                    <button class="btn btn-warning mx-2" style="z-index: 1;">Edit Data</button>
                                    <button class="btn btn-danger mx-2" style="z-index: 1;">Delete</button>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

            </main>
            {% endblock %}



</body>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>