{% extends 'defaultkcn/base.html' %}
{% load static %}

{% block content %}
<body>

    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="Task.html">
                    <span class="align-middle">KCN Communications</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">

                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="dashboard.html">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Sites</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Project</span>
                        </a>
                    </li>
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="TaskView.html">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Task</span>
                        </a>
                    </li>

                </ul>


            </div>
        </nav>

        <!-- Navbar -->

        <div class="main">
            <nav class="navbar navbar-expand-lg border-bottom border-5 border-dark blue px-5 pt-3">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <a class="navbar-brand me-4" id="Logo" href="#">
                    <img src="{% static 'img/logo/KCN-logo.webp' %}" class="img-fluid d-inline-block align-text-top">
                </a>



                <ul class="navbar-nav navbar-align">

                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>

                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            <img src="{% static 'img/avatars/avatar.jpg' %}" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>


            </nav>


            <main class="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light; background-color:blue">
                    <div class="d-flex">
                        <div class="container py-10 mb-50 rounded">
                            <small>
                                <a href="/project">Dashboard</a>
                                <i class="fa-solid fa-chevron-right px-2"></i>
                                <a href="/TaskView">Task</a>
                                <i class="fa-solid fa-chevron-right px-2"></i>
                                Task Details
                            </small>
                        </div>
                    </div>
                </nav>
                <br>

                <div class="container-fluid p-0">

                    <div class="card">

                        <div class=" p-0">

                            <!-- Site List Card -->
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <i class="align-middle me-2" data-feather="edit"></i>

                                    <strong>TASK DETAILS</strong>
                                    </button>
                                </div>
                                <!-- Tabs navigation -->
                                <nav>
                                    <div class="nav nav-tabs px-2" id="nav-tab" role="tablist">

                                        <button class="nav-link text-dark active" id="nav-TaskView-tab" data-bs-toggle="tab" data-bs-target="#TaskView-tab" type="button" role="tab" aria-controls="TaskView-tab" aria-selected="false">Task</button>
<!--                                        <button class="nav-link text-dark" id="nav-report-tab" data-bs-toggle="tab" data-bs-target="#report-tab" type="button" role="tab" aria-controls="report-tab" aria-selected="false">Report</button>-->
                                        <button class="nav-link text-dark" id="nav-timeline-tab" data-bs-toggle="tab" data-bs-target="#timeline-tab" type="button" role="tab" aria-controls="timeline-tab" aria-selected="false">Timeline</button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">

                                    <div class="tab-pane fade show active bg-white rounded p-3 pt-4" id="TaskView-tab" role="tabpanel" aria-labelledby="nav-TaskView-tab" tabindex="0">
                                        <!-- <button class="btn btn-success">
                                            <i class="fa-solid fa-plus"></i>
                                            New Task
                                        </button> -->

                                        <!-- TaskView table -->
                                        <div class="row">
                                            <div class="col-6">
                                                <table class="table table-bordered">
                                                    <tr class="table-secondary">
                                                        <th>TASK ID</th>
                                                        <td>TASK-001</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Site ID</th>
                                                        <td>SVXXXA</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Customer</th>
                                                        <td>TMO</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Project</th>
                                                        <td>ARI-001</td>
                                                    </tr>

                                                    <tr>
                                                        <th>Status</th>
                                                        <td>
                                                            <span class="badge text-bg-primary">On Progress</span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Activity</th>
                                                        <td>Visiting Site</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Priority</th>
                                                        <td>High</td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <!-- Right table -->
                                            <div class="col-6">
                                                <table class="table table-bordered">
                                                    <tr class="table-secondary text-center">
                                                        <th colspan="2">Assigned Team</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Project Manager</th>
                                                        <td>Person1</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Team</th>
                                                        <td>Tiger Team</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Crew</th>
                                                        <td>-</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

<!--                                    <div class="tab-pane fade bg-white rounded p-3 pt-4" id="report-tab" role="tabpanel" aria-labelledby="nav-report-tab" tabindex="0">-->
<!--                                        <div class="box-header well" Form>-->

<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-12">-->
<!--                                                <table class="table table-bordered">-->
<!--                                                    <tr class="table-secondary">-->
<!--                                                        <th>TASK ID</th>-->
<!--                                                        <td>TASK-001</td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <th>Site ID</th>-->
<!--                                                        <td>SVXXXA</td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <th>Customer</th>-->
<!--                                                        <td>TMO</td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <th>Project</th>-->
<!--                                                        <td>ARI-001</td>-->
<!--                                                    </tr>-->

<!--                                                    <tr>-->
<!--                                                        <th>Status</th>-->
<!--                                                        <td>-->
<!--                                                            <span class="badge text-bg-primary">On Progress</span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->

<!--                                                    <tr>-->
<!--                                                        <th>Activity</th>-->
<!--                                                        <td>Visiting Site</td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <th>Priority</th>-->
<!--                                                        <td>High</td>-->
<!--                                                    </tr>-->
<!--                                                </table>-->
<!--                                            </div>-->


<!--                                        </div>-->
<!--                                        <div class="table-responsive text-nowrap">-->
<!--                                            <table id="report-table" class="table table-hover nowrap">-->
<!--                                                <thead>-->
<!--                                                    <tr class="text-nowrap">-->
<!--                                                        <th>#</th>-->
<!--                                                        <th data-sortable="true" data-sorter="alphanum">Task ID</th>-->
<!--                                                        <th>Market</th>-->
<!--                                                        <th>Project</th>-->
<!--                                                        <th>Site</th>-->
<!--                                                        <th>Activity</th>-->
<!--                                                        <th>Status</th>-->
<!--                                                        <th>Priority</th>-->
<!--                                                        <th>Team/Crew</th>-->
<!--                                                        <th>CreatedAt</th>-->
<!--                                                        <th>UpdatedAt</th>-->

<!--                                                    </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody>-->
<!--                                                    <tr>-->
<!--                                                        <th>-->
<!--                                                            <input class="form-check-input ms-1" type="checkbox" value="" id="CheckItem1">-->
<!--                                                        </th>-->
<!--                                                        <td>TASK001</td>-->
<!--                                                        <td>Arizona</td>-->
<!--                                                        <td>ARI-001</td>-->
<!--                                                        <td>SVXXXA</td>-->
<!--                                                        <td>Visiting Site</td>-->
<!--                                                        <td><span class="badge text-bg-success">Finished</span></td>-->
<!--                                                        <td>High</td>-->
<!--                                                        <td>Tiger team</td>-->
<!--                                                        <td>01/26/2023 05:00:01</td>-->
<!--                                                        <td>01/26/2023 05:00:01</td>-->

<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <th>-->
<!--                                                            <input class="form-check-input ms-1" type="checkbox" value="" id="CheckItem1">-->
<!--                                                        </th>-->
<!--                                                        <td>-->
<!--                                                            <div class="dropdown">-->
<!--                                                                &lt;!&ndash; <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                                                  Dropdown button-->
<!--                                                                </button> &ndash;&gt;-->
<!--                                                                <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="dropd">TASK001</a>-->

<!--                                                            </div>-->

<!--                                                        </td>-->
<!--                                                        <td>Arizona</td>-->
<!--                                                        <td>ARI-001</td>-->
<!--                                                        <td>SVXXXA</td>-->
<!--                                                        <td>Checking Material</td>-->
<!--                                                        <td><span class="badge text-bg-primary">On Progress</span></td>-->
<!--                                                        <td>High</td>-->
<!--                                                        <td>Tiger team</td>-->
<!--                                                        <td>01/26/2023 05:00:01</td>-->
<!--                                                        <td>01/26/2023 05:00:01</td>-->

<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <th>-->
<!--                                                            <input class="form-check-input ms-1" type="checkbox" value="" id="CheckItem1">-->
<!--                                                        </th>-->
<!--                                                        <td>TASK001</td>-->
<!--                                                        <td>Arizona</td>-->
<!--                                                        <td>ARI-001</td>-->
<!--                                                        <td>SVXXXA</td>-->
<!--                                                        <td>Installing Equipment</td>-->
<!--                                                        <td><span class="badge text-bg-warning">Pending</span></td>-->
<!--                                                        <td>High</td>-->
<!--                                                        <td>Tiger team</td>-->
<!--                                                        <td>01/26/2023 05:00:01</td>-->
<!--                                                        <td>01/26/2023 05:00:01</td>-->

<!--                                                    </tr>-->
<!--                                                </tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="tab-pane fade bg-white rounded p-3 pt-4" id="timeline-tab" role="tabpanel" aria-labelledby="nav-timeline-tab" tabindex="0">
                                        <div id="gantt-chart"></div>
<html>
    <head>
        {% load static %}
        <script src="{% static "gantt/dhtmlxgantt.js" %}" type="text/javascript">
        </script>
        <link rel="stylesheet" href="{% static "gantt/dhtmlxgantt.css" %}" />
    </head>
    <body>
        <div id="gantt_here" style='width:100%; height:500px;'>
        </div>
        <script>
        gantt.config.date_format = "%Y-%m-%d %H:%i";

gantt.config.order_branch = "marker";
gantt.config.order_branch_free = true;

gantt.config.open_tree_initially = true;

gantt.attachEvent("onLoadEnd", function() {
    gantt.batchUpdate(function() {
        gantt.sort("sort_order", false)
    })
});

gantt.attachEvent("onRowDragEnd", function(id, target) {
    //update the order of tasks
    gantt.batchUpdate(function() {
        gantt.eachTask(function(TaskView) {
            TaskView.sort_order = TaskView.$local_index + 1;
            gantt.updateTask(TaskView.id)
        })
    })
});
gantt.attachEvent("onBeforeTaskAdd", function(id, TaskView) {
    TaskView.sort_order = TaskView.$local_index + 1;
    return true;
});

gantt.init("gantt_here");
gantt.load("/data/", "json");

var dp = new gantt.dataProcessor("/data/");
dp.init(gantt);
dp.setTransactionMode("REST");
        </script>
    </body>
</html>
<!--                                        <iframe src="index.html" height="1000px" width="1000px"></iframe>-->

                                    </div>
                                </div>

                            </div>




                        </div>
            </main>

            <!-- Main Container -->

            <!-- Modal -->
            <div class="modal fade" id="addNewSiteForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Site</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-5">

                            <form action="" class="row">
                                <div class="col-6 mb-3">
                                    <label for="siteId" class="form-label">Site ID</label>
                                    <input type="text" class="form-control" id="siteId" aria-describedby="">
                                </div>
                                <div class="col-6 mb3">
                                    <label for="market" class="form-label">Market</label>
                                    <input type="text" class="form-control" id="market" aria-describedby="">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="customer" class="form-label">Customer</label>
                                    <input type="text" class="form-control" id="customer" aria-describedby="">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="siteProgram" class="form-label">Program</label>
                                    <input type="text" class="form-control" id="siteProgram" aria-describedby="">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="textarea" class="form-control" id="description" aria-describedby="">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="siteType" class="form-label">Site Type</label>
                                    <input type="textarea" class="form-control" id="siteType" aria-describedby="">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="siteStatus" class="form-label">Site Status</label>
                                    <select class="form-select" aria-label="Default select example">
										<option value="1">Issued</option>
										<option value="2">Walked</option>
										<option value="3">IX Active</option>
										<option value="4">Closed Out</option>
									</select>
                                </div>
                                <div class="row" style="width: 50%;">
                                    <div class="col-6 mb-3">
                                        <label for="address" class="form-label">Site Address</label>
                                        <input type="textarea" class="form-control" id="address" aria-describedby="">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="city" class="form-label">City</label>
                                        <input type="textarea" class="form-control" id="city" aria-describedby="">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="state" class="form-label">State</label>
                                        <input type="textarea" class="form-control" id="state" aria-describedby="">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="country" class="form-label">Country</label>
                                        <input type="textarea" class="form-control" id="country" aria-describedby="">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="zipCode" class="form-label">Zip Code</label>
                                        <input type="textarea" class="form-control" id="zipCode" aria-describedby="">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="coordinate" class="form-label">Coordinates</label>
                                        <input type="textarea" class="form-control" id="coordinate" aria-describedby="">
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                            <button type="button" class="btn btn-primary">Add Site</button>
                        </div>
                    </div>
                </div>
            </div>


            </div>
            </div>


 {% endblock %}


</body>
</html>